In [220]:
%pylab inline
import sqlite3,copy,gc,os,random
import pandas as pd
import statsmodels.formula.api as sm
import numpy as np
import matplotlib.pyplot as plt 
from statsmodels.tsa.stattools import adfuller
import multiprocessing as mp
import time
import scipy,collections
from scipy.stats import kstest
matplotlib.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

/Users/sn0wfree/anaconda/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['copy', 'random']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [505]:
def outlierfilterout(df,level=0.99):
    for d in dfcolumn:
        series =df[d]
        low=float(series.quantile([1-level]))
        high =float(series.quantile([level]))
        series
        #high =float(prc[('Group7','PRC')].quantile([0.99]))
        #prc[('Group7','PRC')] =
        t= [high if p >high else p  for p in series]
        t2 =[ low if p <low else p  for p in t]
        df[d]= t2
    return df
def cal(bgvwrtPRC):
    if (u'Group0','PRC') not in bgvwrtPRC.columns:
        if not isinstance(list(bgvwrtPRC.columns)[0],tuple):
            bgvwrtPRC.columns=pd.MultiIndex.from_tuples(zip(bgvwrtPRC.columns,['PRC']*bgvwrtPRC.shape[1]),names=['Group', 'Variable'])
        else:
            bgvwrtPRC.columns=pd.MultiIndex.from_tuples(zip(dict(bgvwrtPRC.columns).keys(),['PRC']*bgvwrtPRC.shape[1]),names=['Group', 'Variable'])      
    else:
        pass
    ma_list = [5,10, 20,30,50, 60,100,200]
    if ('TBill1Mo','PRC') not in bgvwrtPRC.columns:
        bgvwrtPRC =bgvwrtPRC.join(otherfactor)
    else:
        pass
    bgvwrtPRC[(u'HighMinusLow','PRC')]=bgvwrtPRC[(u'Group9','PRC')]-bgvwrtPRC[('Group0','PRC')]
    #dfcolumn =[(u'HighMinusLow','PRC'),(u'Group0','PRC'), (u'Group1','PRC'), (u'Group2','PRC'), (u'Group3','PRC'), (u'Group4','PRC'),(u'Group5','PRC'), (u'Group6','PRC'), (u'Group7','PRC'), (u'Group8','PRC'), (u'Group9','PRC')]
    dfcolumn =[(u'Group0','PRC'), (u'Group1','PRC'), (u'Group2','PRC'), (u'Group3','PRC'), (u'Group4','PRC'),(u'Group5','PRC'), (u'Group6','PRC'), (u'Group7','PRC'), (u'Group8','PRC'), (u'Group9','PRC')]

    for ma in ma_list:
        for col in dfcolumn:
            bgvwrtPRC[(col[0],'RETrate')] = (bgvwrtPRC[col].diff()/bgvwrtPRC[col].shift(1))
            bgvwrtPRC[(col[0],'MA_' + str(ma))] = bgvwrtPRC[col].rolling(window=ma,center=False).mean()
            temp = bgvwrtPRC[col] -bgvwrtPRC[col[0],'MA_'+str(ma)]
            bgvwrtPRC[col[0],'buysignalforMA%s'%str(ma)]=[1 if r>0 else 0 for r in temp]
            bgvwrtPRC[col[0],'MA%stiming'%str(ma)] =bgvwrtPRC[col[0],'RETrate']*bgvwrtPRC[col[0],'buysignalforMA%s'%str(ma)]+bgvwrtPRC['TBill1Mo','PRC']*(1-bgvwrtPRC[col[0],'buysignalforMA%s'%str(ma)])
            bgvwrtPRC[col[0],'MAP%s'%str(ma)] =bgvwrtPRC[col[0],'MA%stiming'%str(ma)]-bgvwrtPRC[col[0],'RETrate']
            bgvwrtPRC[col[0],'MAP%s_dummy'%str(ma)] =[1 if n>0 else 0 for n in bgvwrtPRC[col[0],'MAP%s'%str(ma)]]
        bgvwrtPRC[(u'HighMinusLow','RETrate')]=bgvwrtPRC[(u'Group9','RETrate')]-bgvwrtPRC[('Group0','RETrate')]


        bgvwrtPRC[(u'HighMinusLow','MA_' + str(ma))]=bgvwrtPRC[(u'Group9','MA_' + str(ma))]-bgvwrtPRC[('Group0','MA_' + str(ma))]
        bgvwrtPRC[(u'HighMinusLow','MA%stiming'%str(ma))]=bgvwrtPRC[(u'Group9','MA%stiming'%str(ma))]-bgvwrtPRC[('Group0','MA%stiming'%str(ma))]
        bgvwrtPRC[(u'HighMinusLow','MAP%s'%str(ma))]=bgvwrtPRC[(u'Group9','MAP%s'%str(ma))]-bgvwrtPRC[('Group0','MAP%s'%str(ma))]
        bgvwrtPRC[u'HighMinusLow','MAP%s_dummy'%str(ma)] =[1 if n>0 else 0 for n in bgvwrtPRC[u'HighMinusLow','MAP%s'%str(ma)]]
    return bgvwrtPRC

def CalculateSharpeRatio(df,riskfree='Default'):
    df=df.dropna()
    col_name=df.columns
    if riskfree =='Default':
        if ('TBill1Mo','PRC') in df.columns:
            SPRtio =dict([(n,mean(df[n] - df[('TBill1Mo','PRC')])/df[n].std()) for n in col_name if n != ('TBill1Mo','PRC')])
        else:
            try:
                riskfree=df.xs(('TBill1Mo'),level='Group', axis=1,drop_level=False)
                SPRtio =dict([(n,mean(df[n] - riskfree)/df[n].std()) for n in col_name ])
            except Exception as e:
                print e
                raise 'Unknown riskfree asset price'
    elif isinstance(riskfree,list):
        if df.shape[0] ==len(riskfree):
            #df[('TBill1Mo','PRC')] =riskfree
            
            SPRtio =dict([(n,mean(df[n] - riskfree)/df[n].std()) for n in col_name ])
        else:
            SPRtio =dict([(n,mean(df[n] - mean(riskfree))/df[n].std()) for n in col_name ])
    elif isinstance(riskfree, (int, long, float, complex)):
        SPRtio =dict([(n,mean(df[n] - riskfree)/df[n].std()) for n in col_name ])
    else:
        raise 'unknown'
    
    return pd.Series(SPRtio)
def returndescribe(retrate,variable ='Default',riskfree='gs'):
    
    if 'MAP' in variable:
        total =float(retrate.shape[0])
        successrate = pd.Series({c:sum([1 if n >0 else 0 for n in retrate[c]])/total  for c in retrate.columns})
        return pd.concat([retrate.mean(),ttest(retrate), retrate.std(),retrate.skew(),successrate], axis=1,keys =['Mean','T-values','Std','Skew','SuccessRate'])
    elif variable=='Default':
        if riskfree =='gs':
            gsriskfree =gsewrtPRCretestpr[('TBill1Mo', 'PRC')]
            return pd.concat([retrate.mean(),ttest(retrate), retrate.std(),retrate.skew(),CalculateSharpeRatio(retrate,list(gsriskfree))], axis=1,keys =['Mean','T-values','Std','Skew','SPRatio'])
        elif riskfree =='bg':
            bgriskfree =bgewrtPRCretestpr[('TBill1Mo', 'PRC')]
            return pd.concat([retrate.mean(),ttest(retrate), retrate.std(),retrate.skew(),CalculateSharpeRatio(retrate,list(bgriskfree))], axis=1,keys =['Mean','T-values','Std','Skew','SPRatio'])
        else:
            return pd.concat([retrate.mean(),ttest(retrate), retrate.std(),retrate.skew(),CalculateSharpeRatio(retrate,list(gsewrtPRCretestpr[('TBill1Mo', 'PRC')]))], axis=1,keys =['Mean','T-values','Std','Skew','SPRatio'])
    else:
        return pd.concat([retrate.mean(),ttest(retrate), retrate.std(),retrate.skew(),CalculateSharpeRatio(retrate,list(gsewrtPRCretestpr[('TBill1Mo', 'PRC')]))], axis=1,keys =['Mean','T-values','Std','Skew','SPRatio'])

        
#gsewrtPRCretestpr[('TBill1Mo', 'PRC')]
def ttest(retrate,own=False):
    if own ==True:
        return retrate.mean()*(retrate.shape[0])**0.5/retrate.std()
    else:
        return pd.Series(scipy.stats.ttest_1samp(retrate.dropna(),0)[0],index =retrate.mean().index)

In [2]:
bgewrtPRC=pd.read_hdf('regression_data_csv/result.h5','bgewrtPRC')
bgvwrtPRC=pd.read_hdf('regression_data_csv/result.h5','bgvwrtPRC')
gsewrtPRC=pd.read_hdf('regression_data_csv/result.h5','gsewrtPRC')
gsvwrtPRC=pd.read_hdf('regression_data_csv/result.h5','gsvwrtPRC')

In [429]:

sum([1,2,34,5])/87

0

In [4]:
dfcolumn =[(u'Group0','RET'), (u'Group1','RET'), (u'Group2','RET'), (u'Group3','RET'), (u'Group4','RET'),(u'Group5','RET'), (u'Group6','RET'), (u'Group7','RET'), (u'Group8','RET'), (u'Group9','RET')]
for i in dfcolumn:
    bgewrtPRC[i] =bgewrtPRC[(i[0],'PRC')].diff()

In [13]:
bgewrtPRC.xs(('RETrate'),level='Variable', axis=1,drop_level=False).mean()

Group   Variable
Group0  RETrate     0.005393
Group1  RETrate     0.005683
Group2  RETrate     0.004098
Group3  RETrate     0.005325
Group4  RETrate     0.008069
Group5  RETrate     0.003601
Group6  RETrate     0.006434
Group7  RETrate     0.016692
Group8  RETrate     0.005406
Group9  RETrate     0.008955
dtype: float64

In [14]:
#bgewrtPRC.to_csv('bgewrtPRCtemp.csv')
#bgvwrtPRC.to_csv('bgvwrtPRCtemp.csv')
#gsewrtPRC.to_csv('gsewrtPRCtemp.csv')
#gsvwrtPRC.to_csv('gsvwrtPRCtemp.csv')

In [310]:
dfcolumn =[(u'HighMinusLow','PRC'),(u'Group0','PRC'), (u'Group1','PRC'), (u'Group2','PRC'), (u'Group3','PRC'), (u'Group4','PRC'),(u'Group5','PRC'), (u'Group6','PRC'), (u'Group7','PRC'), (u'Group8','PRC'), (u'Group9','PRC')]

[u'Group5',
 u'Group4',
 u'Group7',
 u'Group6',
 u'Group1',
 u'Group0',
 u'Group3',
 u'Group2',
 u'Group9',
 u'Group8',
 u'HighMinusLow']

In [112]:
gsma10 =gsewrtPRC.xs(('MA10timing'),level='Variable', axis=1,drop_level=False)
def spr(df):
    
    return (df.mean()-2.40903512554314E-06)/df.std()
    
def t_test(df):
    col_name =['Group_0', 'Group_1', 'Group_2', 'Group_3', 'Group_4', 'Group_5', 'Group_6', 'Group_7', 'Group_8', 'Group_9']
    w =pd.DataFrame(scipy.stats.ttest_1samp(df,0)[0],scipy.stats.ttest_1samp(df,0)[1])
    w = w.reset_index()
    w.index =df.mean().index
    w.columns =['pTvalue','Tvalue']
    return w

In [43]:
r = pd.concat([gsma10.mean(), gsma10.std(),gsma10.skew(),spr(gsma10)], axis=1,keys =['Mean','Std','Skew','SRatio'])
for ws in t_test(gsma10.dropna())[0]:
    print ws
r

26.1532028917
23.9797976499
24.5593856315
24.7253091553
24.0032021471
25.6331530271
24.5607273868
23.8805923291
25.966566884
25.3901649503

                       Mean       Std      Skew    SRatio
Group  Variable
Group0 MA10timing  0.032250  0.070234  1.680100  0.459147
Group1 MA10timing  0.027031  0.064203  1.786318  0.420985
Group2 MA10timing  0.027745  0.064344  1.782899  0.431161
Group3 MA10timing  0.029850  0.068760  1.796582  0.434076
Group4 MA10timing  0.027015  0.064103  1.908665  0.421396
Group5 MA10timing  0.030689  0.068190  1.889367  0.450016
Group6 MA10timing  0.031512  0.073076  1.882254  0.431189
Group7 MA10timing  0.037931  0.090466  2.023505  0.419254
Group8 MA10timing  0.049873  0.109392  1.653737  0.455883
Group9 MA10timing  0.043403  0.097364  1.899967  0.445760

In [45]:
gsmap10 =gsewrtPRC.xs(('MAP10'),level='Variable', axis=1,drop_level=False)
r = pd.concat([gsmap10.mean(), gsmap10.std(),gsmap10.skew(),spr(gsmap10)], axis=1,keys =['Mean','Std','Skew','SRatio'])
for ws in t_test(gsmap10.dropna())[0]:
    print ws
r

25.0407232366
23.3363448917
22.3392598309
23.5002563042
23.2755266174
25.1992075794
23.932685612
23.4390395754
24.2722297483
22.9482525521

                     Mean       Std      Skew    SRatio
Group  Variable
Group0 MAP10     0.027052  0.061530  1.044086  0.439610
Group1 MAP10     0.023056  0.056272  1.375592  0.409682
Group2 MAP10     0.023072  0.058825  1.036155  0.392178
Group3 MAP10     0.024855  0.060240  1.204852  0.412563
Group4 MAP10     0.022981  0.056234  1.061565  0.408614
Group5 MAP10     0.025637  0.057945  0.991013  0.442390
Group6 MAP10     0.026198  0.062347  1.119966  0.420156
Group7 MAP10     0.030068  0.073063  1.167403  0.411495
Group8 MAP10     0.037953  0.089058  0.900791  0.426130
Group9 MAP10     0.033949  0.084258  1.036995  0.402882

In [52]:
gsmap10dummy =gsewrtPRC.xs(('MAP10_dummy'),level='Variable', axis=1,drop_level=False)

gsmap10dummy.describe().T

                     count      mean       std  min  25%  50%  75%  max
Group  Variable
Group0 MAP10_dummy  3273.0  0.375802  0.484403  0.0  0.0  0.0  1.0  1.0
Group1 MAP10_dummy  3273.0  0.389245  0.487654  0.0  0.0  0.0  1.0  1.0
Group2 MAP10_dummy  3273.0  0.353498  0.478129  0.0  0.0  0.0  1.0  1.0
Group3 MAP10_dummy  3273.0  0.386496  0.487021  0.0  0.0  0.0  1.0  1.0
Group4 MAP10_dummy  3273.0  0.379774  0.485405  0.0  0.0  0.0  1.0  1.0
Group5 MAP10_dummy  3273.0  0.395050  0.488936  0.0  0.0  0.0  1.0  1.0
Group6 MAP10_dummy  3273.0  0.385885  0.486878  0.0  0.0  0.0  1.0  1.0
Group7 MAP10_dummy  3273.0  0.396884  0.489326  0.0  0.0  0.0  1.0  1.0
Group8 MAP10_dummy  3273.0  0.374885  0.484167  0.0  0.0  0.0  1.0  1.0
Group9 MAP10_dummy  3273.0  0.366331  0.481875  0.0  0.0  0.0  1.0  1.0

In [356]:
t_test((gsewrtPRC[('Group9','MAP10')]-gsewrtPRC[('Group0','MAP10')]).dropna())
bgma10 =bgewrtPRC.xs(('MA10timing'),level='Variable', axis=1,drop_level=False)

ValueError: DataFrame constructor not properly called!

In [214]:
print gsewrtPRC.xs(('RETrate'),level='Variable', axis=1,drop_level=False).describe()
gsewrtPRC.xs(('RETrate'),level='Variable', axis=1,drop_level=False).describe()
rr =gsewrtPRC.xs(('RETrate'),level='Variable', axis=1,drop_level=False).dropna()
mr =gsewrtPRC.xs(('MAP10'),level='Variable', axis=1,drop_level=False).dropna()


w1=[df.sum() for year,df in rr.groupby(lambda x:x.year)]
w2 =[df.sum() for year,df in mr.groupby(lambda x:x.year)]  
#print pd.concat(w1,axis=1).T.describe()
pd.concat(w2,axis=1).T.describe()
#bgvwrtPRC.xs(('MAP10'),level='Variable', axis=1,drop_level=False).describe()
print bgewrtPRC.xs(('MAP10'),level='Variable', axis=1,drop_level=False).describe()
(0.016692*1651.000000-17.012087)/1650

Group          Group0       Group1       Group2       Group3       Group4  \
Variable      RETrate      RETrate      RETrate      RETrate      RETrate
count     3272.000000  3272.000000  3272.000000  3272.000000  3272.000000
mean         0.005252     0.004313     0.004485     0.005059     0.004334
std          0.102536     0.092505     0.094407     0.099664     0.092340
min         -0.316718    -0.330657    -0.300111    -0.317916    -0.311956
25%         -0.062003    -0.049328    -0.051541    -0.056348    -0.054098
50%          0.000390     0.000879    -0.000012     0.000917    -0.000223
75%          0.066370     0.054106     0.057886     0.060672     0.058328
max          0.429943     0.436434     0.474654     0.450221     0.565705

Group          Group5       Group6       Group7       Group8       Group9
Variable      RETrate      RETrate      RETrate      RETrate      RETrate
count     3272.000000  3272.000000  3272.000000  3272.000000  3272.000000
mean         0.004881     0.005493     0.007754     0.011650     0.009772
std          0.097927     0.104623     0.125348     0.153810     0.139798
min         -0.378508    -0.325198    -0.412639    -0.459813    -0.360788
25%         -0.060719    -0.061298    -0.070057    -0.089116    -0.067845
50%         -0.000519    -0.000410    -0.000737     0.001883     0.001214
75%          0.063527     0.065804     0.075607     0.094092     0.080535
max          0.654840     0.531324     0.734443     0.645619     0.538121
Group          Group0       Group1       Group2       Group3       Group4  \
Variable        MAP10        MAP10        MAP10        MAP10        MAP10
count     1651.000000  1651.000000  1651.000000  1651.000000  1651.000000
mean         0.025594     0.026975     0.016149     0.019963     0.024573
std          0.061833     0.061351     0.048025     0.061263     0.074496
min         -0.275391    -0.160766    -0.230690    -0.344372    -0.356743
25%          0.000000     0.000000     0.000000     0.000000     0.000000
50%          0.000000     0.000000     0.000000     0.000000     0.000000
75%          0.041945     0.049414     0.026126     0.025838     0.025431
max          0.402959     0.343364     0.848596     0.383820     0.433844

Group          Group5       Group6       Group7       Group8       Group9
Variable        MAP10        MAP10        MAP10        MAP10        MAP10
count     1651.000000  1651.000000  1651.000000  1651.000000  1651.000000
mean         0.017635     0.020758     0.026218     0.023437     0.028154
std          0.051239     0.065875     0.079222     0.066404     0.081440
min         -0.280912    -0.410666    -0.398080    -0.289373    -0.448779
25%          0.000000     0.000000     0.000000     0.000000     0.000000
50%          0.000000     0.000000     0.000000     0.000000     0.000000
75%          0.030791     0.030383     0.050897     0.043504     0.055813
max          0.469780     0.365183     0.901941     0.648158     0.453787

0.006391760606060604

In [354]:
def WTF(gsmap10):
    gsmap10=gsmap10.dropna()
    return pd.concat([gsmap10.mean(), gsmap10.std(),gsmap10.skew(),spr(gsmap10),t_test(gsmap10)], axis=1,keys =['Mean','Std','Skew','SRatio','Tvalue','p'])

gsmap10.mean()

Group   Variable
Group0  MAP10_dummy    0.375802
Group1  MAP10_dummy    0.389245
Group2  MAP10_dummy    0.353498
Group3  MAP10_dummy    0.386496
Group4  MAP10_dummy    0.379774
Group5  MAP10_dummy    0.395050
Group6  MAP10_dummy    0.385885
Group7  MAP10_dummy    0.396884
Group8  MAP10_dummy    0.374885
Group9  MAP10_dummy    0.366331
dtype: float64

In [506]:
for ret in [ s+t  for t in ['vwrtPRC','ewrtPRC'] for s in ['gs','bg']]:
    locals()[ret+'retest'] =locals()[ret].xs(('PRC'),level='Variable', axis=1,drop_level=False)
    locals()[ret+'retest']  =outlierfilterout(locals()[ret+'retest'],level=0.9)
    locals()[ret+'retestpr'] =cal(locals()[ret+'retest'])

/Users/sn0wfree/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/sn0wfree/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sn0wfree/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyError: (u'Group9', 'RETrate')

In [357]:
gsewrtPRCretestpr

Group          Group0     Group1     Group2     Group3     Group4     Group5  \
Variable          PRC        PRC        PRC        PRC        PRC        PRC
2004-01-02  30.162935  33.513647  30.896619  29.803914  29.856439  29.661072
2004-01-05  31.970863  35.416050  28.808446  31.839849  29.715173  28.227396
2004-01-06  36.742597  27.677324  33.011734  31.622223  28.635417  26.741885
2004-01-07  35.825137  28.963460  30.059461  31.015410  29.421928  28.281863
2004-01-08  36.832511  30.159705  31.066245  31.312043  29.267345  28.200863
2004-01-09  37.227482  28.518892  31.465245  29.037784  30.464367  27.965108
2004-01-12  33.784604  28.866475  33.222079  31.618719  28.034209  30.273849
2004-01-13  33.948705  29.350612  30.969360  30.292763  29.662324  27.835259
2004-01-14  32.820712  28.747014  31.408914  32.961000  30.358014  28.574683
2004-01-15  36.102252  29.911777  33.440403  29.990288  29.644827  29.799964
2004-01-16  34.845043  29.648417  30.411022  32.515000  28.388345  28.443820
2004-01-20  37.986388  29.411986  32.541432  31.663381  28.072475  29.127698
2004-01-21  36.774899  29.466101  33.255180  33.038712  29.813331  29.470043
2004-01-22  36.706302  28.770079  32.615424  31.478914  29.613741  29.053396
2004-01-23  35.273025  29.003164  32.477171  31.403230  27.639727  32.039590
2004-01-26  34.988209  29.293058  32.293281  32.871403  30.679662  29.090921
2004-01-27  36.290813  29.666446  32.435353  30.787957  30.925439  29.759108
2004-01-28  36.635755  29.898129  30.769669  30.916518  29.784295  27.005547
2004-01-29  35.659849  30.186683  31.594094  30.310180  27.831583  31.586935
2004-01-30  36.223101  31.001180  31.645388  29.764561  29.514755  29.449396
2004-02-02  37.432353  29.839863  30.135216  32.290748  29.388849  29.081014
2004-02-03  33.890094  30.030842  32.204712  28.309137  29.494878  29.978583
2004-02-04  35.537763  30.566115  30.275755  31.536928  28.365900  30.182288
2004-02-05  34.426345  29.103590  30.156396  32.144806  28.481446  28.957683
2004-02-06  36.890144  30.948237  32.317396  31.098770  28.628983  30.670371
2004-02-09  36.117899  29.827691  29.503619  30.102921  30.502547  30.921165
2004-02-10  34.131223  30.331273  30.839410  32.351000  30.798950  29.665173
2004-02-11  38.669129  29.594604  32.674849  29.453561  31.960101  29.397784
2004-02-12  33.956899  30.003770  32.035245  31.182691  30.686532  29.617353
2004-02-13  36.220496  29.786594  33.777467  30.702302  29.595417  28.593022
...               ...        ...        ...        ...        ...        ...
2016-11-17  32.861821  39.597543  38.162664  44.861768  54.418508  50.522152
2016-11-18  36.005605  31.805536  37.419741  48.125416  46.664931  54.020570
2016-11-21  36.186419  36.043322  35.764256  47.419143  49.134975  54.020570
2016-11-22  38.760010  36.075398  35.491557  49.524010  44.606554  54.020570
2016-11-23  35.470917  38.983097  39.373702  49.183148  49.840086  51.171124
2016-11-25  34.038273  39.786296  41.414879  39.768478  55.292084  44.137810
2016-11-28  39.563509  39.127647  42.079918  48.167215  53.425387  45.773427
2016-11-29  32.922733  37.458371  39.265744  49.621592  46.550952  54.020570
2016-11-30  33.170675  38.771194  36.250346  51.123725  50.554543  53.057031
2016-12-01  33.241999  35.175467  38.157716  44.143809  49.991174  53.338349
2016-12-02  35.350562  33.647682  39.768979  50.553758  51.064689  50.674343
2016-12-05  39.041557  34.578045  35.558547  51.999441  45.331432  50.552742
2016-12-06  38.443154  37.480920  35.670069  47.017800  48.666736  53.829583
2016-12-07  39.963195  38.648906  35.721917  46.264949  46.578612  54.020570
2016-12-08  38.781302  35.145260  38.064462  51.999441  55.071063  52.105385
2016-12-09  39.963195  39.786296  33.189027  51.511840  49.481354  51.783235
2016-12-12  39.963195  39.786296  35.230712  48.087370  51.130616  50.012446
2016-12-13  39.963195  39.189923  40.691788  45.188499  55.292084  50.955868
2016-12-14  36.033987  39.419047  40.581250  50.210125  48.456615  49.748972
2016-12-15  38.750899  39.057118  38.382934  51.999441  52.815538  47.060191
2016-12-16  33.414442  39.786296  35.826285  48.690900  49.345990  48.575191
2016-12-19  35.992800  39.786296  42.079918  47.563115  54.938195  44.350365
2016-12-20  34.682049  39.786296  40.862899  51.999441  42.441684  49.421236
2016-12-21  34.933193  39.263750  35.003003  51.999441  44.314207  51.930608
2016-12-22  33.962910  39.479097  42.079918  50.264893  46.500069  43.746627
2016-12-23  38.137953  37.644896  38.277280  51.999441  48.911788  54.020570
2016-12-27  38.971735  39.759931  37.450712  49.413194  49.719618  44.163857
2016-12-28  35.616583  39.786296  42.079918  46.617385  47.233594  48.052326
2016-12-29  34.283670  38.920833  40.191563  48.933229  55.174618  45.396486
2016-12-30  37.597726  39.786296  39.736510  49.973261  47.309566  54.016462

Group          Group6     Group7     Group8     Group9     ...       \
Variable          PRC        PRC        PRC        PRC     ...
2004-01-02  28.097806  30.256525  30.855165  35.829021     ...
2004-01-05  29.690691  30.118568  28.367223  36.594539     ...
2004-01-06  31.918050  29.587827  30.757986  34.566620     ...
2004-01-07  32.366842  26.125547  32.503669  37.308704     ...
2004-01-08  31.179266  29.404727  30.410612  35.127923     ...
2004-01-09  32.636619  29.466475  29.080719  35.961683     ...
2004-01-12  29.242835  28.569309  35.263353  34.818803     ...
2004-01-13  31.345029  28.973230  35.874029  34.703951     ...
2004-01-14  31.437201  27.845108  33.143885  37.963796     ...
2004-01-15  31.058935  29.636360  30.315820  35.429993     ...
2004-01-16  32.635000  30.255539  31.776173  37.857324     ...
2004-01-20  33.860281  30.564029  31.241288  33.998741     ...
2004-01-21  30.411554  31.454173  32.242806  33.505000     ...
2004-01-22  31.860547  32.560281  29.892309  35.483224     ...
2004-01-23  28.848328  32.053525  32.736542  36.887272     ...
2004-01-26  31.758489  28.138353  35.172540  36.992531     ...
2004-01-27  30.798914  30.406525  32.214187  35.818577     ...
2004-01-28  31.863942  30.140683  30.073309  36.955208     ...
2004-01-29  28.407259  28.117619  31.859928  37.295375     ...
2004-01-30  29.835547  28.372007  32.457345  35.030207     ...
2004-02-02  31.336978  29.320173  30.560504  34.463870     ...
2004-02-03  31.594691  27.388482  34.142158  36.773685     ...
2004-02-04  28.314468  29.631151  32.240892  33.268116     ...
2004-02-05  31.637504  28.358662  33.152086  35.043605     ...
2004-02-06  29.683705  26.887820  32.589568  36.458588     ...
2004-02-09  29.014281  32.628691  29.594647  38.347986     ...
2004-02-10  30.476115  30.481439  35.735180  34.150656     ...
2004-02-11  28.565108  32.492755  32.343741  36.062381     ...
2004-02-12  30.723345  30.370417  33.578036  37.407662     ...
2004-02-13  31.927921  30.206626  30.058129  36.651953     ...
...               ...        ...        ...        ...     ...
2016-11-17  46.866771  43.096263  61.305761  52.852264     ...
2016-11-18  47.068512  46.958927  66.787482  42.728666     ...
2016-11-21  48.272249  43.119550  57.772803  56.605271     ...
2016-11-22  49.542439  46.984014  50.296868  57.818119     ...
2016-11-23  48.590744  47.513097  65.111626  46.946034     ...
2016-11-25  52.318964  46.244170  55.205813  58.207254     ...
2016-11-28  41.592474  44.602422  51.297214  62.556078     ...
2016-11-29  40.221147  51.491454  52.477336  62.556078     ...
2016-11-30  43.167561  52.288893  48.237422  62.045205     ...
2016-12-01  44.844360  51.496938  66.128979  50.079027     ...
2016-12-02  46.748927  50.934741  63.188644  44.723017     ...
2016-12-05  41.448548  53.564014  61.506138  58.625294     ...
2016-12-06  49.265313  44.687997  66.787482  52.865211     ...
2016-12-07  41.852517  59.088689  52.253941  57.951565     ...
2016-12-08  50.579913  47.541659  52.915087  60.020171     ...
2016-12-09  55.023233  51.989154  46.212083  62.092952     ...
2016-12-12  45.000885  50.514931  54.774549  61.299045     ...
2016-12-13  44.486771  52.990138  43.151094  62.556078     ...
2016-12-14  44.114614  48.897899  60.540859  60.424366     ...
2016-12-15  47.787445  57.225173  49.938715  56.938887     ...
2016-12-16  52.452222  53.043248  47.369226  62.556078     ...
2016-12-19  52.111974  48.555590  52.010266  61.390069     ...
2016-12-20  52.689722  50.838628  54.934740  61.800727     ...
2016-12-21  53.122604  58.891180  45.579656  62.556078     ...
2016-12-22  55.023233  57.136359  45.872934  58.839167     ...
2016-12-23  47.760313  56.942396  44.728941  59.009444     ...
2016-12-27  55.023233  53.268663  52.407726  58.645972     ...
2016-12-28  55.023233  45.645868  50.375099  62.556078     ...
2016-12-29  55.023233  45.897563  46.601840  60.597555     ...
2016-12-30  42.552039  45.217792  48.417066  62.556078     ...

Group      HighMinusLow                                               \
Variable          MAP60 MAP60_dummy     MA_100 MA100timing    MAP100
2004-01-02          NaN           0        NaN         NaN       NaN
2004-01-05     0.038573           1        NaN    0.000000  0.038573
2004-01-06     0.204668           1        NaN    0.000000  0.204668
2004-01-07    -0.104297           0        NaN    0.000000 -0.104297
2004-01-08     0.086572           1        NaN    0.000000  0.086572
2004-01-09    -0.013012           0        NaN    0.000000 -0.013012
2004-01-12    -0.060702           0        NaN    0.000000 -0.060702
2004-01-13     0.008156           1        NaN    0.000000  0.008156
2004-01-14    -0.127159           0        NaN    0.000000 -0.127159
2004-01-15     0.166726           1        NaN    0.000000  0.166726
2004-01-16    -0.103334           0        NaN    0.000000 -0.103334
2004-01-20     0.192076           1        NaN    0.000000  0.192076
2004-01-21    -0.017370           0        NaN    0.000000 -0.017370
2004-01-22    -0.060908           0        NaN    0.000000 -0.060908
2004-01-23    -0.078617           0        NaN    0.000000 -0.078617
2004-01-26    -0.010928           0        NaN    0.000000 -0.010928
2004-01-27     0.068965           1        NaN    0.000000  0.068965
2004-01-28    -0.022228           0        NaN    0.000000 -0.022228
2004-01-29    -0.035843           0        NaN    0.000000 -0.035843
2004-01-30     0.076531           1        NaN    0.000000  0.076531
2004-02-02     0.049551           1        NaN    0.000000  0.049551
2004-02-03    -0.161652           0        NaN    0.000000 -0.161652
2004-02-04     0.143946           1        NaN    0.000000  0.143946
2004-02-05    -0.084643           0        NaN    0.000000 -0.084643
2004-02-06     0.031189           1        NaN    0.000000  0.031189
2004-02-09    -0.072757           0        NaN    0.000000 -0.072757
2004-02-10     0.054448           1        NaN    0.000000  0.054448
2004-02-11     0.076976           1        NaN    0.000000  0.076976
2004-02-12    -0.159165           0        NaN    0.000000 -0.159165
2004-02-13     0.086863           1        NaN    0.000000  0.086863
...                 ...         ...        ...         ...       ...
2016-11-17     0.169033           1  19.073248    0.000000  0.169033
2016-11-18     0.191553           1  19.006896   -0.095659  0.191553
2016-11-21     0.000000           0  18.934207    0.319739  0.000000
2016-11-22     0.000000           0  18.955804   -0.049694  0.000000
2016-11-23     0.188049           1  18.802372    0.084867  0.188049
2016-11-25    -0.040399           0  18.850550    0.239867 -0.040399
2016-11-28     0.000000           0  18.939564   -0.087611  0.000000
2016-11-29    -0.167860           0  19.011601   -0.000009 -0.167860
2016-11-30     0.007521           1  19.067015   -0.008177  0.007521
2016-12-01     0.195012           1  19.020702    0.000000  0.195012
2016-12-02     0.106960           1  18.934619   -0.063421  0.106960
2016-12-05     0.000000           0  18.917040    0.206442  0.000000
2016-12-06     0.098262           1  18.875088    0.015337  0.098262
2016-12-07     0.000000           0  18.842030    0.056674  0.000000
2016-12-08     0.000000           0  18.816603    0.065270  0.000000
2016-12-09     0.000000           0  18.724279    0.004059  0.000000
2016-12-12     0.000000           0  18.621230   -0.012786  0.000000
2016-12-13     0.000000           0  18.616515    0.020507  0.000000
2016-12-14     0.000000           0  18.691413    0.064244  0.000000
2016-12-15     0.000000           0  18.671276   -0.133082  0.000000
2016-12-16    -0.137724           0  18.773639    0.098640 -0.137724
2016-12-19     0.000000           0  18.857039   -0.095802  0.000000
2016-12-20    -0.036430           0  18.981603    0.006676 -0.036430
2016-12-21     0.007229           1  19.051464    0.012210  0.007229
2016-12-22    -0.027787           0  19.209457   -0.059429 -0.027787
2016-12-23     0.000000           0  19.283967   -0.120036  0.000000
2016-12-27     0.000000           0  19.274190   -0.028022  0.000000
2016-12-28     0.000000           0  19.505929    0.152765  0.000000
2016-12-29    -0.037435           0  19.555254   -0.031319 -0.037435
2016-12-30     0.000000           0  19.618575   -0.064346  0.000000

Group
Variable   MAP100_dummy     MA_200 MA200timing    MAP200 MAP200_dummy
2004-01-02            0        NaN         NaN       NaN            0
2004-01-05            1        NaN    0.000000  0.038573            1
2004-01-06            1        NaN    0.000000  0.204668            1
2004-01-07            0        NaN    0.000000 -0.104297            0
2004-01-08            1        NaN    0.000000  0.086572            1
2004-01-09            0        NaN    0.000000 -0.013012            0
2004-01-12            0        NaN    0.000000 -0.060702            0
2004-01-13            1        NaN    0.000000  0.008156            1
2004-01-14            0        NaN    0.000000 -0.127159            0
2004-01-15            1        NaN    0.000000  0.166726            1
2004-01-16            0        NaN    0.000000 -0.103334            0
2004-01-20            1        NaN    0.000000  0.192076            1
2004-01-21            0        NaN    0.000000 -0.017370            0
2004-01-22            0        NaN    0.000000 -0.060908            0
2004-01-23            0        NaN    0.000000 -0.078617            0
2004-01-26            0        NaN    0.000000 -0.010928            0
2004-01-27            1        NaN    0.000000  0.068965            1
2004-01-28            0        NaN    0.000000 -0.022228            0
2004-01-29            0        NaN    0.000000 -0.035843            0
2004-01-30            1        NaN    0.000000  0.076531            1
2004-02-02            1        NaN    0.000000  0.049551            1
2004-02-03            0        NaN    0.000000 -0.161652            0
2004-02-04            1        NaN    0.000000  0.143946            1
2004-02-05            0        NaN    0.000000 -0.084643            0
2004-02-06            1        NaN    0.000000  0.031189            1
2004-02-09            0        NaN    0.000000 -0.072757            0
2004-02-10            1        NaN    0.000000  0.054448            1
2004-02-11            1        NaN    0.000000  0.076976            1
2004-02-12            0        NaN    0.000000 -0.159165            0
2004-02-13            1        NaN    0.000000  0.086863            1
...                 ...        ...         ...       ...          ...
2016-11-17            1  19.038979   -0.141757  0.027276            1
2016-11-18            1  19.003892   -0.095659  0.191553            1
2016-11-21            0  18.986906    0.319739  0.000000            0
2016-11-22            0  18.984974   -0.049694  0.000000            0
2016-11-23            1  18.927854    0.084867  0.188049            1
2016-11-25            0  18.940964    0.280265  0.000000            0
2016-11-28            0  18.942622   -0.087611  0.000000            0
2016-11-29            0  19.002500   -0.000009 -0.167860            0
2016-11-30            1  19.026832   -0.008177  0.007521            1
2016-12-01            1  19.016564    0.000000  0.195012            1
2016-12-02            1  18.967750   -0.063421  0.106960            1
2016-12-05            0  18.969780    0.206442  0.000000            0
2016-12-06            1  18.944831   -0.082925  0.000000            0
2016-12-07            0  18.927479    0.056674  0.000000            0
2016-12-08            0  18.934425    0.065270  0.000000            0
2016-12-09            0  18.942230    0.004059  0.000000            0
2016-12-12            0  18.940158   -0.012786  0.000000            0
2016-12-13            0  18.958334    0.020507  0.000000            0
2016-12-14            0  18.937177    0.064244  0.000000            0
2016-12-15            0  18.925755   -0.133082  0.000000            0
2016-12-16            0  18.958206    0.098640 -0.137724            0
2016-12-19            0  18.960543   -0.095802  0.000000            0
2016-12-20            0  18.989232    0.043106  0.000000            0
2016-12-21            1  19.021756    0.004981  0.000000            0
2016-12-22            0  19.032417   -0.059429 -0.027787            0
2016-12-23            0  19.079237   -0.120036  0.000000            0
2016-12-27            0  19.071121   -0.028022  0.000000            0
2016-12-28            0  19.106577    0.152765  0.000000            0
2016-12-29            0  19.131967    0.006116  0.000000            0
2016-12-30            0  19.141945   -0.064346  0.000000            0

[3273 rows x 459 columns]

In [358]:

        
#locals()['gsvwrtPRC'].xs(('RETrate'),level='Variable', axis=1,drop_level=False).describe()

In [346]:
print locals()['gsewrtPRCretestpr'].xs(('RETrate'),level='Variable', axis=1,drop_level=False).describe()
locals()['gsewrtPRCretestpr'].xs(('MAP10'),level='Variable', axis=1,drop_level=False).describe()

Group          Group0       Group1       Group2       Group3       Group4  \
Variable      RETrate      RETrate      RETrate      RETrate      RETrate
count     3272.000000  3272.000000  3272.000000  3272.000000  3272.000000
mean         0.005108     0.004130     0.004336     0.004812     0.004185
std          0.101058     0.090689     0.092745     0.097068     0.090605
min         -0.316718    -0.330657    -0.284602    -0.317916    -0.311956
25%         -0.060858    -0.048333    -0.051050    -0.054573    -0.052615
50%          0.000000     0.000492     0.000000     0.000000     0.000000
75%          0.065808     0.052181     0.057076     0.059482     0.057208
max          0.405135     0.436434     0.417887     0.450221     0.565705

Group          Group5       Group6       Group7       Group8       Group9  \
Variable      RETrate      RETrate      RETrate      RETrate      RETrate
count     3272.000000  3272.000000  3272.000000  3272.000000  3272.000000
mean         0.004661     0.005276     0.007477     0.011441     0.009516
std          0.095503     0.102451     0.122840     0.152404     0.138104
min         -0.277132    -0.319252    -0.339568    -0.459813    -0.360788
25%         -0.060418    -0.060613    -0.069693    -0.085873    -0.066294
50%         -0.000148     0.000000     0.000000     0.000704     0.000437
75%          0.062829     0.064830     0.074348     0.092584     0.079098
max          0.428587     0.531324     0.567436     0.645619     0.538121

Group    HighMinusLow
Variable      RETrate
count     3272.000000
mean         0.004408
std          0.176394
min         -0.609311
25%         -0.106920
50%          0.000628
75%          0.111081
max          0.614623

Group,Group0,Group1,Group2,Group3,Group4,Group5,Group6,Group7,Group8,Group9,HighMinusLow
Variable,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10
count,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000
mean,0.026875,0.022814,0.022783,0.024543,0.022617,0.025307,0.025829,0.029903,0.037600,0.033769,0.006894
std,0.060810,0.055326,0.058007,0.058859,0.055447,0.056775,0.061196,0.071739,0.088322,0.083218,0.105122
min,-0.239657,-0.173288,-0.197306,-0.212842,-0.219060,-0.254600,-0.222912,-0.227039,-0.639981,-0.324753,-0.468178
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.046503
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.052376,0.040606,0.039934,0.043724,0.043033,0.054097,0.050305,0.056816,0.068939,0.054010,0.049058
max,0.316719,0.330659,0.284610,0.317988,0.312063,0.277134,0.319383,0.339698,0.459814,0.360834,0.430646

In [325]:
prc =locals()['bgvwrtPRC'].xs(('PRC'),level='Variable', axis=1,drop_level=False)

prc.describe()

Group,Group0,Group1,Group2,Group3,Group4,Group5,Group6,Group7,Group8,Group9,TBill1Mo,MktRF,SMB,HML
Variable,PRC,PRC,PRC,PRC,PRC,PRC,PRC,PRC,PRC,PRC,PRC,PRC,PRC,PRC
count,1652.000000,1652.000000,1652.000000,1652.000000,1652.000000,1652.000000,1652.000000,1652.000000,1652.000000,1652.000000,1.652000e+03,1652.000000,1652.000000,1652.000000
mean,41.047938,45.950198,48.027742,41.865418,39.631450,44.384987,53.180180,39.974408,44.568626,44.532117,2.409035e-06,0.000523,0.000030,0.000061
std,6.101841,8.353089,11.107969,7.357225,9.416265,12.662797,12.784018,12.807575,8.026825,12.102841,2.419578e-06,0.009684,0.005102,0.004649
min,24.554103,26.453956,26.918871,19.815669,14.169819,13.957582,19.221181,17.445740,16.259475,17.549135,0.000000e+00,-0.069700,-0.020000,-0.018400
25%,36.285674,38.415438,39.654025,37.214613,31.336066,35.989873,42.837057,31.280650,38.742581,34.168806,5.479452e-07,-0.003825,-0.003300,-0.002800
50%,41.218832,46.787277,49.105285,41.788410,39.630697,48.292665,55.628348,38.899769,44.493748,44.541428,1.369863e-06,0.000800,0.000100,-0.000100
75%,45.991152,52.867097,56.640228,46.774983,47.695238,53.944483,62.828279,46.859076,51.048765,53.946847,3.561644e-06,0.005400,0.003300,0.002700
max,55.556777,65.659609,259.390010,69.995794,69.920000,74.733255,96.040000,357.660000,69.227431,82.355703,1.369863e-05,0.049700,0.018900,0.022300

In [305]:


 
#for d in dfcolumn:
    #prc[d]=outlierfilterout(prc[d])

In [352]:
dfcolumn =[(u'Group0','PRC'), (u'Group1','PRC'), (u'Group2','PRC'), (u'Group3','PRC'), (u'Group4','PRC'),(u'Group5','PRC'), (u'Group6','PRC'), (u'Group7','PRC'), (u'Group8','PRC'), (u'Group9','PRC')]

In [269]:
for d in dfcolumn:
    #prc[d]=outlierfilterout(prc[d])
    print pd.concat([prc[d].describe() ,pd.Series(outlierfilterout(prc[d])).describe()],axis=1)

       (Group0, PRC)            0
count    1652.000000  1652.000000
mean       41.047938    41.048547
std         6.101841     6.099283
min        24.554103    25.771271
25%        36.285674    36.285674
50%        41.218832    41.218832
75%        45.991152    45.991152
max        55.556777    55.251781
       (Group1, PRC)            0
count    1652.000000  1652.000000
mean       45.950198    45.950471
std         8.353089     8.346652
min        26.453956    28.546180
25%        38.415438    38.415438
50%        46.787277    46.787277
75%        52.867097    52.867097
max        65.659609    64.508265
       (Group2, PRC)            0
count    1652.000000  1652.000000
mean       48.027742    47.911486
std        11.107969     9.821095
min        26.918871    27.951398
25%        39.654025    39.654025
50%        49.105285    49.105285
75%        56.640228    56.640228
max       259.390010    69.954378
       (Group3, PRC)            0
count    1652.000000  1652.000000
mean       41.865418    41.865739
std         7.357225     7.351614
min        19.815669    21.088493
25%        37.214613    37.214613
50%        41.788410    41.788410
75%        46.774983    46.774983
max        69.995794    68.975868
       (Group4, PRC)            0
count    1652.000000  1652.000000
mean       39.631450    39.627113
std         9.416265     9.401928
min        14.169819    14.451303
25%        31.336066    31.336066
50%        39.630697    39.630697
75%        47.695238    47.695238
max        69.920000    64.863104
       (Group5, PRC)            0
count    1652.000000  1652.000000
mean       44.384987    44.379937
std        12.662797    12.651363
min        13.957582    14.167143
25%        35.989873    35.989873
50%        48.292665    48.292665
75%        53.944483    53.944483
max        74.733255    66.344038
       (Group6, PRC)            0
count    1652.000000  1652.000000
mean       53.180180    53.172427
std        12.784018    12.743199
min        19.221181    23.463676
25%        42.837057    42.837057
50%        55.628348    55.628348
75%        62.828279    62.828279
max        96.040000    79.894847
       (Group7, PRC)            0
count    1652.000000  1652.000000
mean       39.974408    39.802224
std        12.807575    10.170643
min        17.445740    18.707433
25%        31.280650    31.280650
50%        38.899769    38.899769
75%        46.859076    46.859076
max       357.660000    73.639631
       (Group8, PRC)            0
count    1652.000000  1652.000000
mean       44.568626    44.570341
std         8.026825     8.008598
min        16.259475    22.141004
25%        38.742581    38.742581
50%        44.493748    44.493748
75%        51.048765    51.048765
max        69.227431    65.960066
       (Group9, PRC)            0
count    1652.000000  1652.000000
mean       44.532117    44.531301
std        12.102841    12.097267
min        17.549135    18.325126
25%        34.168806    34.168806
50%        44.541428    44.541428
75%        53.946847    53.946847
max        82.355703    80.584875

In [286]:
print locals()['bgvwrtPRC'].xs(('MAP10'),level='Variable', axis=1,drop_level=False).describe()
test.xs(('MAP10'),level='Variable', axis=1,drop_level=False).describe()

Group          Group0       Group1       Group2       Group3       Group4  \
Variable        MAP10        MAP10        MAP10        MAP10        MAP10
count     1651.000000  1651.000000  1651.000000  1651.000000  1651.000000
mean         0.020799     0.021087     0.018090     0.023752     0.024201
std          0.050826     0.050685     0.048476     0.071259     0.063637
min         -0.450319    -0.168123    -0.162456    -0.319626    -0.249434
25%          0.000000     0.000000     0.000000     0.000000     0.000000
50%          0.000000     0.000000     0.000000     0.000000     0.000000
75%          0.042726     0.038715     0.033150     0.035396     0.037706
max          0.216321     0.302965     0.838778     0.408348     0.543582

Group          Group5       Group6       Group7       Group8       Group9
Variable        MAP10        MAP10        MAP10        MAP10        MAP10
count     1651.000000  1651.000000  1651.000000  1651.000000  1651.000000
mean         0.026955     0.034260     0.041402     0.030855     0.038109
std          0.086456     0.105183     0.119840     0.082233     0.102784
min         -0.740646    -0.833043    -1.193292    -0.371464    -0.566508
25%          0.000000     0.000000     0.000000     0.000000     0.000000
50%          0.000000     0.000000     0.000000     0.000000     0.000000
75%          0.039079     0.054517     0.076750     0.055896     0.071045
max          0.582157     0.609458     0.916122     0.510955     0.457874

Group,Group0,Group1,Group2,Group3,Group4,Group5,Group6,Group7,Group8,Group9
Variable,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10
count,1651.000000,1651.000000,1651.000000,1651.000000,1651.000000,1651.000000,1651.000000,1651.000000,1651.000000,1651.000000
mean,0.020794,0.021044,0.017803,0.023732,0.024223,0.026917,0.034446,0.041989,0.030763,0.038089
std,0.050701,0.050501,0.044947,0.071078,0.063329,0.086204,0.102370,0.116526,0.081584,0.102717
min,-0.450319,-0.168123,-0.162456,-0.319626,-0.249434,-0.740646,-0.631179,-1.045369,-0.371464,-0.566508
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.042726,0.038715,0.033150,0.035396,0.037706,0.039079,0.054517,0.076750,0.055896,0.071045
max,0.216321,0.302965,0.402191,0.382398,0.516627,0.582157,0.530537,0.666643,0.366184,0.457874

In [503]:
print pd.concat([bgewrtPRC.xs(('RET'),level='Variable', axis=1,drop_level=False).mean(),bgewrtPRC.xs(('PRC'),level='Variable', axis=1,drop_level=False).mean()[:10]],axis=1)

print 0.014899/47.306857
bgewrtPRC.to_csv('1.csv')

                        0          1
Group  Variable
Group0 PRC            NaN  47.306857
       RET       0.014899        NaN
Group1 PRC            NaN  43.987132
       RET       0.003382        NaN
Group2 PRC            NaN  48.562638
       RET       0.014078        NaN
Group3 PRC            NaN  49.896727
       RET       0.014110        NaN
Group4 PRC            NaN  49.108434
       RET       0.012454        NaN
Group5 PRC            NaN  45.042282
       RET       0.010155        NaN
Group6 PRC            NaN  49.603859
       RET       0.024205        NaN
Group7 PRC            NaN  42.904707
       RET       0.015890        NaN
Group8 PRC            NaN  39.550992
       RET      -0.006796        NaN
Group9 PRC            NaN  47.286374
       RET       0.008596        NaN
0.000314943772316

In [481]:
#col_name=[(u'HighMinusLow','RETrate'),(u'Group0','RETrate'), (u'Group1','RETrate'), (u'Group2','RETrate'), (u'Group3','RETrate'), (u'Group4','RETrate'),(u'Group5','RETrate'), (u'Group6','RETrate'), (u'Group7','RETrate'), (u'Group8','RETrate'), (u'Group9','RETrate')]

#CalculateSharpeRatio(test,col_name)

#CalculateSharpeRatio(test)
#print scipy.stats.ttest_1samp(retrate.dropna(),0)[0]


#for x in ['RETrate','MA10timing','MAP10']:
    
    #returndescribe(gsewrtPRCretestpr.xs((x),level='Variable', axis=1,drop_level=False),variable=x)



    
#gsewrtdescribe =pd.concat([returndescribe(gsewrtPRCretestpr.xs((x),level='Variable', axis=1,drop_level=False),variable=x,riskfree='gs') for x in ['RETrate','MA10timing','MAP10']])
bgewrtdescribe =pd.concat([returndescribe(bgewrtPRCretestpr.xs((x),level='Variable', axis=1,drop_level=False),variable=x,riskfree='bg') for x in ['RETrate','MA10timing','MAP10']])

#CalculateSharpeRatio(bgewrtPRCretestpr.xs(('RETrate'),level='Variable', axis=1,drop_level=False),riskfree =list(bgewrtPRCretestpr[('TBill1Mo', 'PRC')]))
#CalculateSharpeRatio(retrate,gsriskfree.mean())
#gsewrtdescribe.to_csv('gsewrtPRCretestpr.csv')
bgewrtdescribe.to_csv('bgewrtPRCretestpr.csv')


print (bgewrtPRCretestpr.xs(('MA10timing'),level='Variable', axis=1,drop_level=False).mean()-mean(list(bgewrtPRCretestpr[('TBill1Mo', 'PRC')])))/(bgewrtPRCretestpr.xs(('MA10timing'),level='Variable', axis=1,drop_level=False)).std()
bgewrtPRCretestpr.shape

Group         Variable
Group0        MA10timing    0.437447
Group1        MA10timing    0.422693
Group2        MA10timing    0.365826
Group3        MA10timing    0.329053
Group4        MA10timing    0.340589
Group5        MA10timing    0.370681
Group6        MA10timing    0.342031
Group7        MA10timing    0.372504
Group8        MA10timing    0.398057
Group9        MA10timing    0.388657
HighMinusLow  MA10timing    0.041971
dtype: float64

(1652, 458)

In [300]:
#print locals()['gsvwrtPRC'].xs(('RETrate'),level='Variable', axis=1,drop_level=False).describe()
gsprc.xs(('RETrate'),level='Variable', axis=1,drop_level=False).describe()
gsprc.xs(('MAP10'),level='Variable', axis=1,drop_level=False).describe()

col_name=[(u'HighMinusLow','PRC'),(u'Group0','PRC'), (u'Group1','PRC'), (u'Group2','PRC'), (u'Group3','PRC'), (u'Group4','PRC'),(u'Group5','PRC'), (u'Group6','PRC'), (u'Group7','PRC'), (u'Group8','PRC'), (u'Group9','PRC')]
col_name =['Group_0', 'Group_1', 'Group_2', 'Group_3', 'Group_4', 'Group_5', 'Group_6', 'Group_7', 'Group_8', 'Group_9']

describeresult =pd.concat([gsprc[col_name].mean(), gsprc[col_name].std(),gsprc[col_name].skew(),CalculateSharpeRatio(gsprc,col_name)], axis=1,keys =['Mean','Std','Skew','SRatio'])
T_value =pd.Series(scipy.stats.ttest_1samp(gsprc[col_name],0)[0])
pvalueoft =scipy.stats.ttest_1samp(gsprc[col_name],0)[1]
        #locals()['GB'+target+r ][col_name].plot.box(title ='the Box

Group          Group0       Group1       Group2       Group3       Group4  \
Variable      RETrate      RETrate      RETrate      RETrate      RETrate
count     3272.000000  3272.000000  3272.000000  3272.000000  3272.000000
mean         0.008800     0.008535     0.007839     0.012134     0.010537
std          0.134221     0.132315     0.125094     0.157457     0.146918
min         -0.381544    -0.455579    -0.389778    -0.535450    -0.414940
25%         -0.076249    -0.078260    -0.076525    -0.089906    -0.086050
50%         -0.000340     0.001686    -0.000658     0.001366    -0.001368
75%          0.081734     0.084507     0.083565     0.097385     0.093258
max          0.671947     0.831396     0.586443     0.766245     0.933165

Group          Group5       Group6       Group7       Group8       Group9
Variable      RETrate      RETrate      RETrate      RETrate      RETrate
count     3272.000000  3272.000000  3272.000000  3272.000000  3272.000000
mean         0.010179     0.010154     0.011323     0.010878     0.004773
std          0.143447     0.143281     0.152047     0.149393     0.098374
min         -0.419787    -0.433956    -0.420612    -0.468050    -0.427086
25%         -0.090979    -0.091473    -0.095587    -0.087815    -0.053603
50%          0.001134     0.002914     0.001752    -0.003537     0.000008
75%          0.094944     0.099440     0.107608     0.098912     0.057863
max          0.690544     0.725844     0.698594     0.875513     0.604805

Group,Group0,Group1,Group2,Group3,Group4,Group5,Group6,Group7,Group8,Group9
Variable,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10,MAP10
count,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000,3244.000000
mean,0.032363,0.032226,0.032149,0.036793,0.034787,0.035053,0.035802,0.038025,0.036201,0.023243
std,0.078879,0.078991,0.075054,0.092119,0.086310,0.084493,0.084962,0.089937,0.087626,0.058458
min,-0.345898,-0.336997,-0.277451,-0.336067,-0.419738,-0.374279,-0.346047,-0.380648,-0.700935,-0.210374
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.063093,0.064041,0.066552,0.074516,0.073831,0.077353,0.079009,0.082756,0.073803,0.044678
max,0.381548,0.455623,0.389778,0.535452,0.414943,0.419788,0.433960,0.420662,0.468051,0.427087

In [306]:
bgvwrtprc =locals()['bgvwrtPRC'].xs(('PRC'),level='Variable', axis=1,drop_level=False)
bgvwrtprc =cal(outlierfilterout(bgvwrtprc))
gsvwrtprc =locals()['gsvwrtPRC'].xs(('PRC'),level='Variable', axis=1,drop_level=False)
gsvwrtprc =cal(outlierfilterout(gsvwrtprc))

bgewrtprc =locals()['bgewrtPRC'].xs(('PRC'),level='Variable', axis=1,drop_level=False)
bgewrtprc =cal(outlierfilterout(bgewrtprc))
gsewrtprc =locals()['gsewrtPRC'].xs(('PRC'),level='Variable', axis=1,drop_level=False)
gsewrtprc =cal(outlierfilterout(gsewrtprc))

/Users/sn0wfree/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/sn0wfree/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/sn0wfree/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sn0wfree/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sn0wfree/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sn0wfree/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sn0wfree/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [308]:
print bgewrtprc.xs(('RETrate'),level='Variable', axis=1,drop_level=False).describe()
bgewrtprc.xs(('MA10timing'),level='Variable', axis=1,drop_level=False).describe()
print gsewrtprc.xs(('RETrate'),level='Variable', axis=1,drop_level=False).describe()

Group          Group0       Group1       Group2       Group3       Group4  \
Variable      RETrate      RETrate      RETrate      RETrate      RETrate
count     1651.000000  1651.000000  1651.000000  1651.000000  1651.000000
mean         0.005312     0.005553     0.002674     0.005147     0.007907
std          0.101075     0.105974     0.070558     0.101382     0.126547
min         -0.402959    -0.445121    -0.419314    -0.383813    -0.433844
25%         -0.050065    -0.058500    -0.036909    -0.035028    -0.033304
50%          0.000000     0.000000     0.001085     0.000210     0.000000
75%          0.054639     0.060018     0.038215     0.035613     0.037249
max          0.644657     0.763204     0.868660     0.666712     0.637471

Group          Group5       Group6       Group7       Group8       Group9
Variable      RETrate      RETrate      RETrate      RETrate      RETrate
count     1651.000000  1651.000000  1651.000000  1651.000000  1651.000000
mean         0.003330     0.006130     0.007542     0.005244     0.008196
std          0.079564     0.107439     0.123689     0.103057     0.128483
min         -0.424930    -0.369175    -0.474013    -0.585029    -0.419042
25%         -0.039959    -0.046655    -0.067470    -0.054386    -0.071922
50%          0.001578    -0.000824     0.000195     0.001470    -0.001449
75%          0.040060     0.047131     0.072357     0.055829     0.077796
max          0.551014     0.670267     1.620524     0.693510     0.632769
Group          Group0       Group1       Group2       Group3       Group4  \
Variable      RETrate      RETrate      RETrate      RETrate      RETrate
count     3272.000000  3272.000000  3272.000000  3272.000000  3272.000000
mean         0.005108     0.004130     0.004336     0.004812     0.004185
std          0.101058     0.090689     0.092745     0.097068     0.090605
min         -0.316718    -0.330657    -0.284602    -0.317916    -0.311956
25%         -0.060858    -0.048333    -0.051050    -0.054573    -0.052615
50%          0.000000     0.000492     0.000000     0.000000     0.000000
75%          0.065808     0.052181     0.057076     0.059482     0.057208
max          0.405135     0.436434     0.417887     0.450221     0.565705

Group          Group5       Group6       Group7       Group8       Group9
Variable      RETrate      RETrate      RETrate      RETrate      RETrate
count     3272.000000  3272.000000  3272.000000  3272.000000  3272.000000
mean         0.004661     0.005276     0.007477     0.011441     0.009516
std          0.095503     0.102451     0.122840     0.152404     0.138104
min         -0.277132    -0.319252    -0.339568    -0.459813    -0.360788
25%         -0.060418    -0.060613    -0.069693    -0.085873    -0.066294
50%         -0.000148     0.000000     0.000000     0.000704     0.000437
75%          0.062829     0.064830     0.074348     0.092584     0.079098
max          0.428587     0.531324     0.567436     0.645619     0.538121

In [384]:
bgewrtprc.xs(('TBill1Mo'),level='Group', axis=1,drop_level=False)

Group       TBill1Mo
Variable         PRC
2010-02-16  0.000001
2010-02-17  0.000002
2010-02-18  0.000002
2010-02-19  0.000002
2010-02-22  0.000002
2010-02-23  0.000002
2010-02-24  0.000002
2010-02-25  0.000002
2010-02-26  0.000002
2010-03-01  0.000002
2010-03-02  0.000002
2010-03-03  0.000002
2010-03-04  0.000002
2010-03-05  0.000003
2010-03-08  0.000003
2010-03-09  0.000003
2010-03-10  0.000003
2010-03-11  0.000003
2010-03-12  0.000003
2010-03-15  0.000003
2010-03-16  0.000004
2010-03-17  0.000004
2010-03-18  0.000004
2010-03-19  0.000004
2010-03-22  0.000004
2010-03-23  0.000003
2010-03-24  0.000003
2010-03-25  0.000003
2010-03-26  0.000003
2010-03-29  0.000003
...              ...
2016-11-17  0.000008
2016-11-18  0.000008
2016-11-21  0.000008
2016-11-22  0.000009
2016-11-23  0.000010
2016-11-25  0.000009
2016-11-28  0.000009
2016-11-29  0.000009
2016-11-30  0.000010
2016-12-01  0.000009
2016-12-02  0.000009
2016-12-05  0.000009
2016-12-06  0.000010
2016-12-07  0.000010
2016-12-08  0.000011
2016-12-09  0.000011
2016-12-12  0.000012
2016-12-13  0.000013
2016-12-14  0.000013
2016-12-15  0.000013
2016-12-16  0.000013
2016-12-19  0.000012
2016-12-20  0.000013
2016-12-21  0.000013
2016-12-22  0.000012
2016-12-23  0.000012
2016-12-27  0.000014
2016-12-28  0.000013
2016-12-29  0.000011
2016-12-30  0.000012

[1652 rows x 1 columns]