In [1]:
import pandas as pd

import os,gc,platform
import sqlite3

In [2]:
def InitalSqliteConnection(target):

    if target != 0:
        conn = sqlite3.connect(target)
    else:
        conn = sqlite3.connect(":memory:")

    return conn


def CollectedTableName(conn):
    #collect the name of table
    cur = conn.cursor()
    cur.execute(
        "select name from sqlite_master where type='table' order by name")
    return [table[0].encode("utf-8") for table in cur.fetchall()]


def DetectFileName(filepath):
    link = FindOperation()
    if '.' in filepath:
        if link in filepath:
            filename = filepath.split(link)[-1].split('.')[0]

        else:
            filename = filepath.split('.')[0]
    else:
        raise 'Unknown File Name'

    return filename


def FindOperation():
    #show platform and return the connect link word
    OperationSystem = platform.system()
    if OperationSystem is 'Darwin':
        link = '/'
    elif OperationSystem is 'Windows':
        link = '\\'
    else:
        link = '/'
    return link

def list2dict(keys,values):
    
    return dict(zip(keys,values))




def DetectUnciode(string):
    if isinstance(string, unicode):
        data= string.encode("utf-8")
    elif isinstance(string, str):
        data = string
    elif isinstance(string,basestring):
        data = string
        
    else:
        data = string
    
    return data

def DetectTypeAndTransform(unknown_type):
    if isinstance(unknown_type,list) or isinstance(unknown_type,tuple) or isinstance(unknown_type,set):
        for l in unknown_type:
            return DetectTypeAndTransform(l)
    elif isinstance(unknown_type,dict):
        raise 'Connot parse the Dict_type data'
   
    elif isinstance(unknown_type, unicode):
        return DetectUnciode(unknown_type)
    elif isinstance(unknown_type, str):
        return unknown_type
    else:
        raise 'Connot parse the unknown_type data'
def ChangeDate(Date):
    if "-" in Date:
        return Date.replace("-","")
    else:
        return Date
    
        
def FetchOutbySqlCmd(conn_cmd,variablelist):
        fetchout =conn_cmd.fetchall()
        
        date = [ChangeDate(DetectUnciode(d[0])) for d in fetchout ]
        data = [d[1:] for d in fetchout]
        return dict(zip(date,data)).update({'Date':variablelist}) 

def InitialSelectData(databasefilepath):
    FileName= DetectFileName(databasefilepath)
    conn = InitalSqliteConnection(databasefilepath)
    tables = CollectedTableName(conn)
    return tables,conn
    
def SelectDatafromSqliteImportPandas(conn,table,variablelist,TestModel=False):
    commandCODE = ','.join(variablelist)
    
    if TestModel == False:
        if table in ["ALL","ON"]:
            print '%s in ALL,ON'%table
            data ='Error'
        else:
            error=0
            for s in table:
                
                if s not in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
                    
                    error=1
                    break
                else:
                    error=0
            if error == 0:
                #print "select %s from %s"%(commandCODE,table)
                commd ="select %s from %s"%(commandCODE,table)
                data = pd.read_sql_query(commd,conn)
            else:
                print '%s not in ABCDEFGHIJKLMNOPQRSTUVWXYZ'%table
                data ='Error'
    else:
        commd ="select %s from %s"%(commandCODE,table)
        data = pd.read_sql_query(commd,conn)
        
    return data
    
    
    

def SelectDatabyCMDOnlyfromSqlite(databasefilepath,variablelist):
    FileName= DetectFileName(databasefilepath)
    conn = InitalSqliteConnection(databasefilepath)
    tables = CollectedTableName(conn)
    commandCODE = ','.join(variablelist)
    conn_outputs=[]
    table_output=[]
    for table in tables:
        if table in ["ALL","ON"]:
            pass
        else:
            error=0
            for s in table:
                if s not in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
                    error=1
                    break
                else:
                    error=0
            if error == 0:
                #print "select %s from %s"%(commandCODE,table)
                r =conn.execute("select %s from %s"%(commandCODE,table))
                conn_outputs.append(FetchOutbySqlCmd(r,variablelist))
                table_output.append(table)  
            else:
                pass
    #conn_outputs =[(table,conn.execute("select %s from %s"%(commandCODE,table)))for table in tables if table != "ALL"]
    
    return dict(zip(table_output,conn_outputs))

    
    
    
def ImportPandasfromSqliteFigureOutDate(conn,table,variablelist):
    df = SelectDatafromSqliteImportPandas(conn,table,variablelist)
    if isinstance(df,str):
        print df
        raise 'Error'
    
    #print str(df['Date'][0])
    
    if '-' in str(df['Date'][0]):
        #print df.get_value(1,'Date')
        for i in xrange(df.shape[0]):
            #print df.get_value(i,'Date')
            #print df.get_value(i,'Date').replace('-','')
            df.set_value(i,'Date',df.get_value(i,'Date').replace('-',''))
            pass
    else:
        pass
    return df

def chunks(target, n):
    if isinstance(target, list):
        date1 = [target[i:i + n] for i in xrange(0, len(target), n)]
    else:
        date1 = []
        raise ValueError, "Wrong type,I need a list."
    return date1  
 
def ReturnMerge(pd1,pd2):
     return pd.merge(pd1,pd2,how='left',on='Date')
def IntersectionForList(list1,list2):
    return list(set(list1) & set(list2))

In [27]:
tagetfile_share='/Users/sn0wfree/Documents/python_projects/data_collection/API/Share/wrds/sharesWRDS.db'
tables_share,conn_share=InitialSelectData(tagetfile_share)
variablelist_share=('Date','PRC','VOL','SICCD')
sharesWRDS =ImportPandasfromSqliteFigureOutDate(conn_share,"AA",variablelist_share).sort(["Date"])

/Users/sn0wfree/miniconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [17]:
def InitalSqliteConnection(target):

    if target != 0:
        conn = sqlite3.connect(target)
    else:
        conn = sqlite3.connect(":memory:")

    return conn


def CollectedTableName(conn):
    #collect the name of table
    cur = conn.cursor()
    cur.execute(
        "select name from sqlite_master where type='table' order by name")
    return [table[0].encode("utf-8") for table in cur.fetchall()]


def DetectFileName(filepath):
    link = FindOperation()
    if '.' in filepath:
        if link in filepath:
            filename = filepath.split(link)[-1].split('.')[0]

        else:
            filename = filepath.split('.')[0]
    else:
        raise 'Unknown File Name'

    return filename


def FindOperation():
    #show platform and return the connect link word
    OperationSystem = platform.system()
    if OperationSystem is 'Darwin':
        link = '/'
    elif OperationSystem is 'Windows':
        link = '\\'
    else:
        link = '/'
    return link

def list2dict(keys,values):
    
    return dict(zip(keys,values))




def DetectUnciode(string):
    if isinstance(string, unicode):
        data= string.encode("utf-8")
    elif isinstance(string, str):
        data = string
    elif isinstance(string,basestring):
        data = string
        
    else:
        data = string
    
    return data

def DetectTypeAndTransform(unknown_type):
    if isinstance(unknown_type,list) or isinstance(unknown_type,tuple) or isinstance(unknown_type,set):
        for l in unknown_type:
            return DetectTypeAndTransform(l)
    elif isinstance(unknown_type,dict):
        raise 'Connot parse the Dict_type data'
   
    elif isinstance(unknown_type, unicode):
        return DetectUnciode(unknown_type)
    elif isinstance(unknown_type, str):
        return unknown_type
    else:
        raise 'Connot parse the unknown_type data'
def ChangeDate(Date):
    if "-" in Date:
        return Date.replace("-","")
    else:
        return Date
    
        
def FetchOutbySqlCmd(conn_cmd,variablelist):
        fetchout =conn_cmd.fetchall()
        
        date = [ChangeDate(DetectUnciode(d[0])) for d in fetchout ]
        data = [d[1:] for d in fetchout]
        return dict(zip(date,data)).update({'Date':variablelist}) 

def InitialSelectData(databasefilepath):
    FileName= DetectFileName(databasefilepath)
    conn = InitalSqliteConnection(databasefilepath)
    tables = CollectedTableName(conn)
    return tables,conn
    
def SelectDatafromSqliteImportPandas(conn,table,variablelist,TestModel=False):
    commandCODE = ','.join(variablelist)
    
    if TestModel == False:
        if table in ["ALL","ON"]:
            print '%s in ALL,ON'%table
            data ='Error'
        else:
            error=0
            for s in table:
                
                if s not in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
                    
                    error=1
                    break
                else:
                    error=0
            if error == 0:
                #print "select %s from %s"%(commandCODE,table)
                commd ="select %s from %s"%(commandCODE,table)
                data = pd.read_sql_query(commd,conn)
            else:
                print '%s not in ABCDEFGHIJKLMNOPQRSTUVWXYZ'%table
                data ='Error'
    else:
        commd ="select %s from %s"%(commandCODE,table)
        data = pd.read_sql_query(commd,conn)
        
    return data
    
    
    

def SelectDatabyCMDOnlyfromSqlite(databasefilepath,variablelist):
    FileName= DetectFileName(databasefilepath)
    conn = InitalSqliteConnection(databasefilepath)
    tables = CollectedTableName(conn)
    commandCODE = ','.join(variablelist)
    conn_outputs=[]
    table_output=[]
    for table in tables:
        if table in ["ALL","ON"]:
            pass
        else:
            error=0
            for s in table:
                if s not in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
                    error=1
                    break
                else:
                    error=0
            if error == 0:
                #print "select %s from %s"%(commandCODE,table)
                r =conn.execute("select %s from %s"%(commandCODE,table))
                conn_outputs.append(FetchOutbySqlCmd(r,variablelist))
                table_output.append(table)  
            else:
                pass
    #conn_outputs =[(table,conn.execute("select %s from %s"%(commandCODE,table)))for table in tables if table != "ALL"]
    
    return dict(zip(table_output,conn_outputs))

    
    
    
def ImportPandasfromSqliteFigureOutDate(conn,table,variablelist):
    df = SelectDatafromSqliteImportPandas(conn,table,variablelist)
    if isinstance(df,str):
        print df
        raise 'Error'
    
    #print str(df['Date'][0])
    
    if '-' in str(df['Date'][0]):
        #print df.get_value(1,'Date')
        for i in xrange(df.shape[0]):
            #print df.get_value(i,'Date')
            #print df.get_value(i,'Date').replace('-','')
            df.set_value(i,'Date',df.get_value(i,'Date').replace('-',''))
            pass
    else:
        pass
    return df

def chunks(target, n):
    if isinstance(target, list):
        date1 = [target[i:i + n] for i in xrange(0, len(target), n)]
    else:
        date1 = []
        raise ValueError, "Wrong type,I need a list."
    return date1  
 
def SetIndexType(pd):
    pd[['Date']]=pd[['Date']].astype(int)
    return pd

def ReturnMerge(pd1,pd2):
    pd1 =SetIndexType(pd1)
    pd2 =SetIndexType(pd2)


    return pd.merge(pd1,pd2,how='left',on='Date')
def IntersectionForList(list1,list2):
    return list(set(list1) & set(list2))



def CalculateMA(DataFrame,ma_list ='Default'):
    
    # 分别计算5日、20日、30/60/100/200日的移动平均线
    if ma_list == 'Default':
        ma_list = [5, 20,30, 60,100,200]
    elif isinstance(ma_list,list) or isinstance(ma_list,tuple) or isinstance(ma_list,set):
        ma_list =ma_list
    else:
        ma_list = [5, 20,30, 60,100,200]
    for ma in ma_list:
        DataFrame['MA_' + str(ma)] = pd.rolling_mean(DataFrame['PRC'], ma)
    return DataFrame
        
def CalculateEMA(DataFrame,ma_list ='Default'):
    
    # 分别计算指数平滑移动平均线EMA
    if ma_list == 'Default':
        ma_list = [5, 20,30, 60,100,200]
    elif isinstance(ma_list,list) or isinstance(ma_list,tuple) or isinstance(ma_list,set):
        ma_list =ma_list
    else:
        ma_list = [5, 20,30, 60,100,200]
    for ma in ma_list:
        DataFrame['EMA_' + str(ma)] = pd.ewma(DataFrame['PRC'], span=ma)    
    return DataFrame


def ReadSqlByPandas(table,conn):
    
    return pd.read_sql_query("select * from %s"%table,conn)
def CalculateMAEMA(sharesWRDS):
    # 分别计算5日、20日、60日的移动平均线
    ma_list = [5, 20,30, 60,100,200]

    # 计算简单算术移动平均线MA - 注意：stock_data['close']为股票每天的收盘价
    #for ma in ma_list:
    #    sharesWRDS['MA_' + str(ma)] = pd.rolling_mean(sharesWRDS['PRC'], ma)
    CalculateMA(sharesWRDS,[5, 20,30, 60,100,200])
    CalculateEMA(sharesWRDS,[5, 20,30, 60,100,200])
    return sharesWRDS

In [16]:
otherfactor ='otherfactor.csv'
other = pd.read_csv(otherfactor)
other=other[['Date','TBill1Mo','TBill3Mo','Mkt-RF','SMB','HML','RF']]
conn_all = InitalSqliteConnection('all.db')
tagetfile='combine.db'
tables,conn=InitialSelectData(tagetfile)
for table in tables:
    
    df = ReadSqlByPandas(table,conn).sort(['Date'])
    terget  =pd.merge(df,other,how='left',on='Date')
    temp =CalculateMAEMA(terget)
    temp.to_sql(table, conn_all, if_exists='append', index=False)

/Users/sn0wfree/miniconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

,Date,NEWS_HEAT_PUB_DMAX,NEWS_HEAT_READ_DAVG,NEWS_HEAT_READ_DMAX,GoogleSearch,PRC,VOL,SICCD,TBill1Mo,TBill3Mo,Mkt-RF,SMB,HML,RF
0,20100218,2.0,0.0,1.0,85.0,30.98,2370400.0,3825.0,0.07,0.10,0.62,0.10,0.00,0.000
1,20100219,1.0,0.0,0.0,78.0,31.20,2994300.0,3825.0,0.06,0.11,0.28,0.05,0.48,0.000
2,20100222,4.0,0.0,1.0,84.0,31.15,2888400.0,3825.0,0.06,0.11,-0.05,-0.04,0.58,0.000
3,20100223,2.0,0.0,0.0,87.0,30.85,3123900.0,3825.0,0.08,0.12,-1.24,0.27,-0.93,0.000
4,20100224,3.0,0.0,0.0,85.0,31.23,2822400.0,3825.0,0.08,0.12,0.94,-0.35,0.53,0.000
5,20100225,2.0,0.0,0.0,83.0,31.09,3418100.0,3825.0,0.09,0.13,-0.13,0.23,0.28,0.000
6,20100226,0.0,0.0,1.0,77.0,31.46,3346300.0,3825.0,0.09,0.13,0.13,-0.55,0.39,0.000
7,20100301,4.0,0.0,0.0,84.0,32.09,3378800.0,3825.0,0.09,0.13,1.20,1.22,0.07,0.000
8,20100302,3.0,0.0,0.0,89.0,32.36,4304800.0,3825.0,0.09,0.14,0.32,0.62,0.19,0.000
9,20100303,4.0,0.0,0.0,87.0,32.44,4591900.0,3825.0,0.09,0.14,0.09,0.17,0.09,0.000
10,20100304,2.0,0.0,2.0,84.0,32.26,4363500.0,3825.0,0.09,0.14,0.37,0.09,0.23,0.000
11,20100305,2.0,0.0,0.0,80.0,33.16,5504400.0,3825.0,0.11,0.15,1.43,0.40,0.61,0.000
12,20100308,2.0,0.0,0.0,80.0,33.00,5019800.0,3825.0,0.11,0.16,0.02,0.09,0.27,0.000
13,20100309,4.0,0.0,2.0,87.0,33.27,5066700.0,3825.0,0.12,0.16,0.21,0.24,-0.09,0.000
14,20100310,2.0,0.0,1.0,87.0,33.66,3359600.0,3825.0,0.12,0.15,0.53,0.06,0.68,0.000
15,20100311,2.0,0.0,2.0,86.0,33.58,2820100.0,3825.0,0.12,0.16,0.43,-0.09,-0.12,0.000
16,20100312,2.0,0.0,1.0,77.0,33.42,2872400.0,3825.0,0.10,0.15,-0.02,0.03,-0.28,0.000
17,20100315,2.0,0.0,0.0,84.0,33.31,2588900.0,3825.0,0.12,0.17,-0.02,-0.31,-0.48,0.000
18,20100316,1.0,0.0,0.0,89.0,33.42,2350500.0,3825.0,0.14,0.16,0.78,-0.14,0.60,0.000
19,20100317,2.0,0.0,0.0,84.0,33.38,2808300.0,3825.0,0.13,0.15,0.57,0.06,0.36,0.000
20,20100318,2.0,0.0,0.0,80.0,33.46,3215100.0,3825.0,0.14,0.16,-0.10,-0.17,-0.57,0.000
21,20100319,2.0,0.0,0.0,77.0,33.42,4207700.0,3825.0,0.13,0.16,-0.62,-0.60,-0.63,0.000
22,20100322,3.0,0.0,0.0,85.0,33.72,2823000.0,3825.0,0.13,0.15,0.67,0.88,0.00,0.000
23,20100323,1.0,0.0,1.0,88.0,34.11,3716600.0,3825.0,0.11,0.14,0.80,0.34,0.36,0.000
24,20100324,2.0,0.0,0.0,88.0,33.90,2712000.0,3825.0,0.12,0.14,-0.60,-0.64,0.83,0.000
25,20100325,1.0,0.0,0.0,86.0,34.55,4965200.0,3825.0,0.12,0.14,-0.26,-0.46,-0.26,0.000
26,20100326,1.0,0.0,0.0,79.0,34.31,3366100.0,3825.0,0.11,0.14,0.06,-0.08,0.31,0.000
27,20100329,3.0,0.0,0.0,83.0,34.40,3846700.0,3825.0,0.11,0.15,0.59,-0.07,0.19,0.000
28,20100330,3.0,0.0,1.0,87.0,34.62,4277800.0,3825.0,0.13,0.16,0.04,0.29,-0.45,0.000
29,20100331,3.0,0.0,1.0,84.0,34.39,3786400.0,3825.0,0.15,0.16,-0.36,-0.49,0.16,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1630,20161117,4.0,0.0,0.0,81.0,45.94,2070609.0,3825.0,0.30,0.44,0.56,0.14,-0.13,0.001
1631,20161118,4.0,0.0,0.0,76.0,45.04,3148538.0,3825.0,0.28,0.44,-0.16,0.55,0.37,0.001
1632,20161121,3.0,0.0,1.0,77.0,44.97,2540067.0,3825.0,0.28,0.46,0.77,-0.24,0.07,0.001
1633,20161122,1.0,0.0,1.0,80.0,44.46,2831226.0,3825.0,0.34,0.49,0.31,0.57,0.62,0.001
1634,20161123,3.0,0.0,0.0,75.0,44.65,1926275.0,3825.0,0.35,0.51,0.16,0.52,0.20,0.001
1635,20161125,0.0,0.0,0.0,64.0,44.89,877140.0,3825.0,0.34,0.49,0.40,-0.07,-0.24,0.001
1636,20161128,3.0,0.0,1.0,79.0,43.60,2241795.0,3825.0,0.32,0.48,-0.64,-0.77,0.07,0.001
1637,20161129,2.0,0.0,0.0,83.0,44.48,1952118.0,3825.0,0.34,0.48,0.11,-0.36,-0.08,0.001
1638,20161130,4.0,0.0,0.0,84.0,43.98,2238575.0,3825.0,0.38,0.48,-0.25,-0.39,2.23,0.001
1639,20161201,2.0,0.0,0.0,82.0,43.21,2823273.0,3825.0,0.32,0.48,-0.36,-0.68,2.02,0.001
1640,20161202,2.0,0.0,0.0,76.0,44.03,2153515.0,3825.0,0.34,0.49,0.00,0.08,-0.31,0.001
1641,20161205,1.0,0.0,1.0,80.0,44.53,2495020.0,3825.0,0.34,0.49,0.75,1.11,0.27,0.001
1642,20161206,1.0,0.0,0.0,82.0,44.84,1136658.0,3825.0,0.35,0.49,0.48,0.60,0.25,0.001
1643,20161207,3.0,0.0,0.0,80.0,44.99,1815238.0,3825.0,0.38,0.52,1.26,-0.64,0.58,0.001
1644,20161208,3.0,0.0,0.0,76.0,45.80,1848936.0,3826.0,0.39,0.51,0.36,1.12,0.61,0.001
1645,20161209,4.0,0.0,0.0,72.0,46.30,1937622.0,3826.0,0.41,0.54,0.46,-0.29,0.10,0.001
1646,20161212,2.0,0.0,0.0,79.0,46.14,1851518.0,3826.0,0.42,0.51,-0.30,-0.93,-0.16,0.001
1647,20161213,1.0,0.0,0.0,81.0,46.39,1734678.0,3826.0,0.47,0.54,0.60,-0.52,-0.28,0.001
1648,20161214,3.0,0.0,0.0,80.0,46.14,2044052.0,3826.0,0.49,0.55,-0.82,-0.34,-0.28,0.001
1649,20161215,1.0,0.0,0.0,77.0,46.56,1338905.0,3826.0,0.48,0.51,0.46,0.38,0.30,0.001
1650,20161216,2.0,0.0,0.0,73.0,45.91,2103155.0,3826.0,0.46,0.51,-0.22,0.06,-0.46,0.001
1651,20161219,2.0,0.0,0.0,72.0,45.43,1084164.0,3826.0,0.45,0.52,0.22,0.29,0.07,0.001
1652,20161220,4.0,0.0,4.0,76.0,46.21,1552366.0,3826.0,0.48,0.52,0.44,0.44,0.68,0.001
1653,20161221,2.0,0.0,0.0,73.0,46.04,1652288.0,3826.0,0.46,0.52,-0.24,-0.39,0.25,0.001
1654,20161222,0.0,0.0,0.0,70.0,45.97,968296.0,3826.0,0.42,0.51,-0.30,-0.77,0.27,0.001
1655,20161223,0.0,0.0,0.0,62.0,46.20,727682.0,3826.0,0.42,0.52,0.19,0.57,-0.54,0.001
1656,20161227,0.0,0.0,0.0,71.0,46.51,1535489.0,3826.0,0.50,0.51,0.27,0.21,0.14,0.001
1657,20161228,1.0,0.0,0.0,74.0,45.72,1177275.0,3826.0,0.48,0.53,-0.87,-0.30,0.06,0.001
1658,20161229,1.0,0.0,0.0,76.0,45.64,891398.0,3826.0,0.39,0.47,-0.04,0.13,-0.30,0.001
1659,20161230,1.0,0.0,0.0,69.0,45.56,1216100.0,3826.0,0.44,0.51,-0.52,-0.13,0.18,0.001

          Date   PRC   VOL SICCD
0     20030101  None  None  None
1     20030102  None  None  None
2     20030103  None  None  None
3     20030104  None  None  None
4     20030105  None  None  None
5     20030106  None  None  None
6     20030107  None  None  None
7     20030108  None  None  None
8     20030109  None  None  None
9     20030110  None  None  None
10    20030111  None  None  None
11    20030112  None  None  None
12    20030113  None  None  None
13    20030114  None  None  None
14    20030115  None  None  None
15    20030116  None  None  None
16    20030117  None  None  None
17    20030118  None  None  None
18    20030119  None  None  None
19    20030120  None  None  None
20    20030121  None  None  None
21    20030122  None  None  None
22    20030123  None  None  None
23    20030124  None  None  None
24    20030125  None  None  None
25    20030126  None  None  None
26    20030127  None  None  None
27    20030128  None  None  None
28    20030129  None  None  None
29    20030130  None  None  None
...        ...   ...   ...   ...
5124  20170111  None  None  None
5125  20170112  None  None  None
5126  20170113  None  None  None
5127  20170114  None  None  None
5128  20170115  None  None  None
5129  20170116  None  None  None
5130  20170117  None  None  None
5131  20170118  None  None  None
5132  20170119  None  None  None
5133  20170120  None  None  None
5134  20170121  None  None  None
5135  20170122  None  None  None
5136  20170123  None  None  None
5137  20170124  None  None  None
5138  20170125  None  None  None
5139  20170126  None  None  None
5140  20170127  None  None  None
5141  20170128  None  None  None
5142  20170129  None  None  None
5143  20170130  None  None  None
5144  20170131  None  None  None
5145  20170201  None  None  None
5146  20170202  None  None  None
5147  20170203  None  None  None
5148  20170204  None  None  None
5149  20170205  None  None  None
5150  20170206  None  None  None
5151  20170207  None  None  None
5152  20170208  None  None  None
5153  20170209  None  None  None

[5154 rows x 4 columns]