In [5]:
%pylab inline
import sqlite3,copy,gc,os
import pandas as pd
import statsmodels.formula.api as sm
import numpy as np
import matplotlib.pyplot as plt 
from statsmodels.tsa.stattools import adfuller
import multiprocessing as mp
import time

Populating the interactive namespace from numpy and matplotlib

/Users/sn0wfree/anaconda/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['copy']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [2]:
%%HTML
<button onclick="$('.input, .prompt, .output_stderr, .output_error, .output_result').toggle();">Toggle Code</button>

In [2]:
def InitalSqliteConnection(target):

    if target != 0:
        conn = sqlite3.connect(target)
    else:
        conn = sqlite3.connect(":memory:")

    return conn

def CollectedTableName(conn):
    #collect the name of table
    cur = conn.cursor()
    cur.execute(
        "select name from sqlite_master where type='table' order by name")
    return [table[0].encode("utf-8") for table in cur.fetchall()]

def InitialSelectData(databasefilepath):
    
    conn = InitalSqliteConnection(databasefilepath)
    tables = CollectedTableName(conn)
    return tables,conn
def ReturnRate(onelist):
    
    end=copy.deepcopy(onelist)
    onelist.pop()
    del end[0]
    temp = [bb-aa for (aa,bb) in zip(onelist,end)]
    temp.insert(0,"NAN")
    return temp
def DetectStatus(mas,prices):
    temp =zip(mas,prices)
    buy=[]
    for ma,price in temp:
        if price < ma:
            buy.append(1)
        else:
            buy.append(0)
    return buy
    

def variable2dummy(allll):
    temp=[]
    for al in allll:
        if al >0:
            temp.append(1)
        else:
            temp.append(0)
    return temp 
def GoogleSearchLevel(dfseries,df):
    level=[]
    for d in list(dfseries):
        if d<2:
            level.append(0)
      
        elif d < 25 and d>=2:
            level.append(1)
        elif d>=25 and d<50:
            level.append(2)
        elif d>=50 and d<75:
            level.append(3)
        else:
            level.append(4)
    df['GoogleSearch_level']=level
    return df
def NewsHeatLevel(dfseries,df):
    #if d < 0.20:
        #df['NewsHeat_level']=1
    #elif d>=1 and d<2:
    #    df['NewsHeat_level']=2
    #elif d>=2 and d<3:
    #    df['NewsHeat_level']=3
    #else:
        #df['NewsHeat_level']=2
    df['NewsHeat_level']=list(dfseries)
    return df
def CreateLevel(df,printout=False):
    replaceAbnormalValue(df['GoogleSearch'])
    replaceAbnormalValue(df['NEWS_HEAT_READ_DAVG'])
    
    if df['GoogleSearch'].describe()[1]>0:
        
        if printout!=False:
            print "Do ols regression for GoogleSearch"
        
            df['GoogleSearch'].hist(bins=20,alpha=0.5, color='k', normed=True)
            df['GoogleSearch'].plot(kind='kde', style='k--')
        else:
            pass
    else:
        pass
    
    df=GoogleSearchLevel(df['GoogleSearch'],df)
    
    if df['NEWS_HEAT_READ_DAVG'].describe()[1]>0:
        
        if printout!=False:
            print "do ols regression for NEWS_HEAT_READ_DAVG"
            df['NEWS_HEAT_READ_DAVG'].hist(alpha=0.5, color='red', normed=True)
            df['NEWS_HEAT_READ_DAVG'].plot(kind='kde', style='k--')
        else:
            pass
    
    else:
        pass
    if printout!=False:
        print "Mean of GoogleSearch for %s:"%table,df['GoogleSearch'].describe()[1]
        print "Mean of NEWS_HEAT_READ_DAVG for %s:"%table,df['NEWS_HEAT_READ_DAVG'].describe()[1]
    df=NewsHeatLevel(df['NEWS_HEAT_READ_DAVG'],df)
    return df
def replaceAbnormalValue(df):
    l =[s for s in set(df) if s<0]
    
    if len(l) != 0:
        temp=[0]*len(l)
        t =dict(zip(l,temp))
        df.replace(t,inplace=True)
    else:
        pass
def SelectDataforStats(df,table):
    temp_df =df[['PRC','Return','MARE30','MAP','GoogleSearch_level','NewsHeat_level']]
    a =dict(zip(['PRC','Return','MARE30','MAP','GoogleSearch_level','NewsHeat_level'],list(mean(temp_df))))
    a.update({"ticker":table})
    return a
def drawGraph(info_pd,target_variable,limited_variable):
    if len(set(info_pd[limited_variable]))>1:
        tests =[(s,info_pd[target_variable][info_pd[limited_variable]==s]) for s in set(info_pd[limited_variable])]
    else:
        s =set(info_pd[limited_variable])[0]
        tests =[(s,info_pd[target_variable][info_pd[limited_variable]==s])]
    for s,test in tests:
        if len(test)<=2:
            pass
        else:
            test.hist(bins=20,alpha=0.5, color='red', normed=True)
            test.plot(kind='kde', title='%s Under %s level =%s'%(target_variable,limited_variable,s),style='k--',label='Density Distribution',legend=True)
            plt.grid(True)  
            plt.show()
        
        
def adftest(series_test,printout=False):
    X = series_test.values
    result = adfuller(X)
    if printout !=False:
        print('ADF Statistic: %f' % result[0])
        print('p-value: %f' % result[1])
        print('Critical Values:')
        for key, value in result[4].items():
            print('\t%s: %.3f' % (key, value))
        if result[1] <0.05:
            print "Statistical Stationary"
        else:
            print "Non-Stationary"
    else:
        pass
    return (result[0],result[1])

def TestADFandProcessOther(df,printout=False,othertype="Diff",process=[]):
    (adf,p_value)=adftest(df,False)

    if p_value>=0.05:
        #print p_value
        if othertype=="Diff":
            process.append("Diff")
            (adf,p_value,process) = TestADFandProcessOther(df.diff(1)[1:],printout,"Diff",process)
        else:
            process.append("Log")
            (adf,p_value,process) = TestADFandProcessOther(log(df),printout,"Log",process)
    else:
        pass
    return (adf,p_value,process)

def Diff2DateFrame(df,n=1):
    return df.diff(n)[n:]
def Log2DateFrame(df):
    return log(df)
def DetectADFtestandReturnVarlist(df,Need_test):
    var_list=[]
    for var in Need_test:
        adf_result =TestADFandProcessOther(df[var],process=[])
        if len(adf_result[2])==0:
            var_list.append(var)
        else:

            df['%sDiff%s'%(var,len(adf_result[2]))]=Diff2DateFrame(df['%s'%var],len(adf_result[2]))
            var_list.append('%sDiff%s'%(var,len(adf_result[2])))

    #print var,adf_result[2]
    #print adf_result
    #price_adf,price_adf_p=adftest(df['PRC'].diff(1)[1:],True)
    #google_adf,google_adf_p=adftest(df['GoogleSearch'],True)
    #adf_result =TestADFandProcessOther(df['GoogleSearch'],process=[])
    #print adf_result[2] 
    return var_list
def ReturnOlsCMD(x_var_list,x,y_var_list):
    xa=copy.deepcopy(x_var_list)
    ya=copy.deepcopy(y_var_list)
    xa.append(x)
    ya.extend(xa)
    return ya
def OlsTestProcess(NewsHeat,GoogleSearch,df):
    result_bloomberg = sm.ols(formula="%s ~ %s+%s+%s+%s+%s"%(NewsHeat[0],NewsHeat[1],NewsHeat[2],NewsHeat[3],NewsHeat[4],NewsHeat[5]), data=df).fit()
    result_googlesearch = sm.ols(formula="%s ~ %s+%s+%s+%s+%s"%(GoogleSearch[0],GoogleSearch[1],GoogleSearch[2],GoogleSearch[3],GoogleSearch[4],GoogleSearch[5]), data=df).fit()
    #result_googlesearch = sm.ols(formula="MAP ~VOL+MktRF+SMB+HML+GoogleSearch", data=df).fit()
    #print result_bloomberg.params
    #print result_bloomberg.summary()

    #print result_googlesearch.params,result_googlesearch.pvalues
    #print result_bloomberg.params
    #print result_bloomberg.pvalues[-1]
    #print result_bloomberg.f_pvalue
    #print result_bloomberg.summary()
    return result_bloomberg,result_googlesearch
def varlist(df,x_Need_test,y_Need_test,x_Attention_Need_test):
    
    x_var_list=DetectADFtestandReturnVarlist(df,x_Need_test)
    #varlist.extend(x_var_list)
    y_var_list=DetectADFtestandReturnVarlist(df,y_Need_test)
    #varlist.extend(y_var_list)
    x_Attention_var_list=DetectADFtestandReturnVarlist(df,x_Attention_Need_test)
    
    #x_var_list,y_var_list
    #print x_var_list,y_var_list,x_Attention_var_list,TestADFandProcessOther(df['NEWS_HEAT_READ_DAVG'],process=[])[2]
    
    #print DetectADFtestandReturnVarlist(df,x_Need_test)
    return x_var_list,y_var_list,x_Attention_var_list
def pdmerge(a,b):
    return pd.merge(a,b,how='outer',sort=False)
def pdjoin(a,*b):
    return a.join(*b,on="Date",how='outer',sort=False)
def mergeDateFrame(*b):
    return reduce(pdmerge,*b)

In [71]:
df_MAP0 =pd.read_sql_query("select Date, MAP from %s"%tables_temp1[0],conn_temp1).drop_duplicates()  
df_MAP1 =pd.read_sql_query("select Date, MAP from %s"%tables_temp1[1],conn_temp1).drop_duplicates()  
df_MAP2 =pd.read_sql_query("select Date, MAP from %s"%tables_temp1[2],conn_temp1).drop_duplicates()

          Date   MAP
0     20101130  0.00
1     20101201  0.00
2     20101202  0.00
3     20101203  0.00
4     20101206  0.00
5     20101207  0.00
6     20101208  0.00
7     20101209  0.00
8     20101210  0.00
9     20101213  0.00
10    20101214  0.00
11    20101215  0.00
12    20101216  0.00
13    20101217  0.00
14    20101220  0.00
15    20101221  0.75
16    20101222  0.24
17    20101223  0.06
18    20101227  0.21
19    20101228  0.25
20    20101229 -0.15
21    20101230 -0.22
22    20101231  0.64
23    20110103  0.76
24    20110104  3.38
25    20110105  0.05
26    20110106  2.18
27    20110107 -1.48
28    20110110 -0.32
29    20110111  0.52
...        ...   ...
1421  20161117  0.00
1422  20161118  0.00
1423  20161121  0.00
1424  20161122  0.00
1425  20161123  0.00
1426  20161125  0.00
1427  20161128  0.00
1428  20161129  0.00
1429  20161130  0.00
1430  20161201  0.00
1431  20161202  0.00
1432  20161205  0.00
1433  20161206  0.00
1434  20161207  0.00
1435  20161208  0.00
1436  20161209  0.00
1437  20161212  0.00
1438  20161213  0.00
1439  20161214  0.00
1440  20161215  0.00
1441  20161216  0.00
1442  20161219  0.00
1443  20161220  0.00
1444  20161221  0.00
1445  20161222  0.00
1446  20161223  0.00
1447  20161227  0.00
1448  20161228  1.90
1449  20161229  0.53
1450  20161230  1.60

[1451 rows x 2 columns]

In [100]:
df_MAP3 =pd.read_sql_query("select Date, MAP from %s"%tables_temp1[3],conn_temp1).drop_duplicates()

In [142]:
tables_temp1,conn_temp1 = InitialSelectData('temp1.db')

df_MAP0 =pd.read_sql_query("select Date, MAP from %s"%tables_temp1[0],conn_temp1).drop_duplicates()  
a=[]
for table in tables_temp1[0:69]:
    locals()['%s'%table] =pd.read_sql_query("select Date, MAP from %s"%table,conn_temp1).drop_duplicates()
    if locals()['%s'%table].empty:
        pass
    elif locals()['%s'%table].shape[0]<10:
        pass
    else:
        locals()['%s'%table].rename(index=str, columns={"MAP": "%s"%table ,"Date":"Date"},inplace=1)
        
        a.append(locals()['%s'%table])
 
    
        #df_MAP0=copy.deepcopy(pd.merge(df_MAP0,df_MAP,on='Date'))


#a= [df_MAP0,df_MAP,df_MAP1,df_MAP2,df_MAP3]
print len(a)
    
w =reduce((lambda x,y:pd.merge(x,y,on='Date',how="left")),a)
w
pd.read_sql_query("select Date, MAP from %s"%'BIO',conn_temp1)
#df_MAP0.to_sql('level1GS',InitialSelectData('level1GS.db'),if_exists='replace', index=False)

68

          Date        MAP
0     20100709  177.89500
1     20100712   -1.15000
2     20100712    0.00000
3     20100713  177.19500
4     20100713    0.00000
5     20100714    0.00000
6     20100714  179.74000
7     20100715   -0.16000
8     20100715    0.00000
9     20100716  177.21500
10    20100716    0.00000
11    20100719    0.00000
12    20100719  175.36500
13    20100720    0.50500
14    20100720    0.00000
15    20100721  175.89000
16    20100721    0.00000
17    20100722  175.82500
18    20100722    0.00000
19    20100723    0.00000
20    20100723    0.00000
21    20100726  180.17000
22    20100726    0.00000
23    20100727    0.00000
24    20100727  179.49500
25    20100728   -0.31500
26    20100728    0.00000
27    20100729    0.00000
28    20100729    0.00000
29    20100730  177.81000
...        ...        ...
1363  20160621  284.97499
1364  20160621    0.00000
1365  20160623    0.00000
1366  20160623  285.02501
1367  20160627   -5.06000
1368  20160627    0.00000
1369  20160628    0.00000
1370  20160628    0.00000
1371  20160629    0.00000
1372  20160629    0.00000
1373  20160630    0.00000
1374  20160630    0.00000
1375  20160705  284.32999
1376  20160705    0.00000
1377  20160707    0.00000
1378  20160707  285.40001
1379  20160708    1.56499
1380  20160708    0.00000
1381  20161102  309.62500
1382  20161102    0.00000
1383  20161103  330.25500
1384  20161103    0.00000
1385  20161104    0.00000
1386  20161104  329.56501
1387  20161130   11.10500
1388  20161130    0.00000
1389  20161201  349.24500
1390  20161201    0.00000
1391  20161202    0.00000
1392  20161202    0.00000

[1393 rows x 2 columns]

In [111]:
tables_temp1[1:]

['AAN',
 'AAP',
 'ABBV',
 'ABCD',
 'ABCO',
 'ACAD',
 'ACAT',
 'ACET',
 'ACHN',
 'ACLS',
 'ACRX',
 'ADBE',
 'ADM',
 'ADMS',
 'ADP',
 'ADXS',
 'AEE',
 'AEL',
 'AEO',
 'AET',
 'AFL',
 'AGM',
 'AGN',
 'AGO',
 'AI',
 'AIT',
 'AJG',
 'AKS',
 'ALLY',
 'AMAT',
 'AMBA',
 'AME',
 'AMED',
 'AMG',
 'AMGN',
 'AMPE',
 'AMTD',
 'AMZN',
 'ANDE',
 'ANET',
 'ANIP',
 'AOS',
 'ARNA',
 'ARRS',
 'ARRY',
 'ARW',
 'ARWR',
 'ASTE',
 'ATVI',
 'AVD',
 'AVT',
 'AVXL',
 'AWI',
 'AWK',
 'AWR',
 'AXAS',
 'AXL',
 'AXP',
 'AYI',
 'BAH',
 'BBBY',
 'BBG',
 'BBW',
 'BH',
 'BHI',
 'BID',
 'BIIB',
 'BIO',
 'BIOS',
 'BK',
 'BLK',
 'BLKB',
 'BLX',
 'BMI',
 'BMS',
 'BOFI',
 'BOJA',
 'BREW',
 'BRS',
 'BRSS',
 'BSX',
 'BURL',
 'BUSE',
 'BWA',
 'BWLD',
 'CACI',
 'CAH',
 'CAKE',
 'CALM',
 'CBB',
 'CBF',
 'CBG',
 'CBM',
 'CBOE',
 'CBT',
 'CBZ',
 'CCC',
 'CCL',
 'CDE',
 'CDK',
 'CDNS',
 'CDW',
 'CEB',
 'CECE',
 'CELG',
 'CENT',
 'CERN',
 'CERS',
 'CEVA',
 'CFG',
 'CFI',
 'CHD',
 'CHEF',
 'CHFC',
 'CHK',
 'CHS',
 'CHTR',
 'CHUY',
 'CIEN',
 'CIT',
 'CIVI',
 'CLR',
 'CMC',
 'CMCSA',
 'CMI',
 'CMP',
 'CNC',
 'CNO',
 'CNS',
 'CNX',
 'COG',
 'COH',
 'COKE',
 'COLM',
 'CONN',
 'COO',
 'CORE',
 'CPB',
 'CPN',
 'CREE',
 'CRIS',
 'CRL',
 'CRM',
 'CSRA',
 'CSU',
 'CSX',
 'CTAS',
 'CTL',
 'CTRL',
 'CTXS',
 'CVG',
 'CVI',
 'CVX',
 'CWT',
 'CXO',
 'CY',
 'CZR',
 'DAL',
 'DAR',
 'DBD',
 'DCOM',
 'DDD',
 'DDS',
 'DEPO',
 'DERM',
 'DHI',
 'DK',
 'DLB',
 'DLTR',
 'DMRC',
 'DOOR',
 'DOX',
 'DPLO',
 'DPS',
 'DST',
 'DUK',
 'DV',
 'DVA',
 'DVN',
 'EBIX',
 'ECL',
 'ECOM',
 'ECR',
 'EDIT',
 'EGL',
 'EGN',
 'EGOV',
 'EIG',
 'ELLI',
 'ELY',
 'EME',
 'EMR',
 'ENR',
 'ENTA',
 'ENV',
 'ENZ',
 'EPAM',
 'EPAY',
 'EPC',
 'EROS',
 'ESRX',
 'ESV',
 'ETFC',
 'ETM',
 'EV',
 'EVC',
 'EVER',
 'EW',
 'EXC',
 'EXPE',
 'EXTR',
 'F',
 'FBP',
 'FCEL',
 'FCN',
 'FCX',
 'FDP',
 'FDS',
 'FDX',
 'FET',
 'FFIN',
 'FGEN',
 'FGL',
 'FIS',
 'FIT',
 'FIZZ',
 'FL',
 'FLIR',
 'FLR',
 'FLS',
 'FLT',
 'FNSR',
 'FOE',
 'FOLD',
 'FRC',
 'FSLR',
 'FSS',
 'FTK',
 'FTR',
 'GAIA',
 'GBL',
 'GBT',
 'GCAP',
 'GD',
 'GEF',
 'GEN',
 'GFF',
 'GHL',
 'GIS',
 'GLT',
 'GLUU',
 'GLW',
 'GME',
 'GPC',
 'GPI',
 'GPN',
 'GPRO',
 'GPS',
 'GRA',
 'GRPN',
 'GRUB',
 'GSAT',
 'GTS',
 'GUID',
 'HAE',
 'HAFC',
 'HAIN',
 'HALO',
 'HBAN',
 'HBI',
 'HCI',
 'HDP',
 'HEI',
 'HES',
 'HHC',
 'HIG',
 'HIL',
 'HLF',
 'HNI',
 'HOG',
 'HOV',
 'HRB',
 'HRC',
 'HRG',
 'HRTX',
 'HSC',
 'HSY',
 'HTH',
 'HUBS',
 'HZNP',
 'IAC',
 'IDA',
 'IDT',
 'IFF',
 'ILMN',
 'IMGN',
 'IMH',
 'IMMU',
 'INFI',
 'INOV',
 'INTL',
 'INVN',
 'IONS',
 'IPCC',
 'IPG',
 'IRBT',
 'ISBC',
 'ITT',
 'ITW',
 'IVC',
 'JBL',
 'JBT',
 'JCI',
 'JCOM',
 'JCP',
 'JEC',
 'JIVE',
 'JLL',
 'JNPR',
 'JONE',
 'JUNO',
 'KAR',
 'KERX',
 'KEYS',
 'KLAC',
 'KMI',
 'KNX',
 'KONA',
 'KOP',
 'KRO',
 'KSS',
 'KSU',
 'KTOS',
 'LAZ',
 'LC',
 'LEN',
 'LKQ',
 'LLL',
 'LLY',
 'LNC',
 'LOCO',
 'LOPE',
 'LPI',
 'LQ',
 'LSTR',
 'LUB',
 'LUK',
 'LULU',
 'LUV',
 'LVLT',
 'LVS',
 'LZB',
 'MACK',
 'MCF',
 'MCHP',
 'MDR',
 'MDRX',
 'MDU',
 'MEI',
 'MENT',
 'MET',
 'MIC',
 'MIDD',
 'MIK',
 'MLM',
 'MMC',
 'MNK',
 'MNKD',
 'MOH',
 'MOS',
 'MOV',
 'MRC',
 'MRK',
 'MRVL',
 'MSFT',
 'MSG',
 'MSI',
 'MSM',
 'MTD',
 'MTN',
 'MUSA',
 'MYE',
 'MYL',
 'NANO',
 'NAT',
 'NATI',
 'NAVI',
 'NEM',
 'NEWR',
 'NFG',
 'NFLX',
 'NKE',
 'NOC',
 'NOG',
 'NOV',
 'NRG',
 'NSM',
 'NSP',
 'NUAN',
 'NVAX',
 'NVDA',
 'NWE',
 'OCUL',
 'ODC',
 'OFG',
 'OGE',
 'OI',
 'OKE',
 'OLED',
 'OLLI',
 'OMF',
 'ONB',
 'ONCE',
 'ONVO',
 'OPK',
 'ORCL',
 'ORLY',
 'OSIS',
 'OXY',
 'PACB',
 'PAH',
 'PANW',
 'PAYC',
 'PB',
 'PBF',
 'PCAR',
 'PCRX',
 'PDFS',
 'PEIX',
 'PEP',
 'PES',
 'PFS',
 'PG',
 'PHM',
 'PIR',
 'PJT',
 'PKD',
 'PKG',
 'PKI',
 'PLT',
 'PMC',
 'POOL',
 'PPG',
 'PRI',
 'PRK',
 'PROV',
 'PSTG',
 'PSX',
 'PTC',
 'PVH',
 'PWR',
 'QCOM',
 'QEP',
 'QRVO',
 'RCL',
 'RDI',
 'RDN',
 'RE',
 'RGA',
 'RGS',
 'RHI',
 'RICE',
 'RIG',
 'RL',
 'RLI',
 'RMTI',
 'RNG',
 'ROG',
 'ROP',
 'ROST',
 'RPD',
 'RRC',
 'RST',
 'RUBI',
 'SABR',
 'SAH',
 'SAIA',
 'SATS',
 'SCG',
 'SCHL',
 'SCHW',
 'SCI',
 'SCL',
 'SCSS',
 'SDRL',
 'SEAS',
 'SFE',
 'SGYP',
 'SHAK',
 'SHLD',
 'SHOR',
 'SHW',
 'SIG',
 'SIRI',
 'SIX',
 'SJM',
 'SKX',
 'SLAB',
 'SLCA',
 'SMG',
 'SMRT',
 'SN',
 'SNA',
 'SNI',
 'SONS',
 'SPAR',
 'SPB',
 'SPR',
 'SPWR',
 'SRE',
 'SRPT',
 'SSP',
 'STC',
 'STI',
 'SVU',
 'SWFT',
 'SWM',
 'SWN',
 'SYF',
 'SYNA',
 'TACO',
 'TASR',
 'TAST',
 'TBI',
 'TCB',
 'TDC',
 'TDG',
 'TEAM',
 'TERP',
 'TESO',
 'TFX',
 'TGI',
 'TGT',
 'THC',
 'THG',
 'THO',
 'THR',
 'TILE',
 'TIVO',
 'TKR',
 'TMO',
 'TMUS',
 'TNC',
 'TNGO',
 'TOL',
 'TPH',
 'TREX',
 'TRN',
 'TROW',
 'TROX',
 'TRV',
 'TSCO',
 'TSE',
 'TSLA',
 'TSO',
 'TTI',
 'TTPH',
 'TWTR',
 'TXMD',
 'TXN',
 'UAL',
 'UBNT',
 'UFPI',
 'UGI',
 'UHS',
 'UIS',
 'ULTA',
 'UNF',
 'UNH',
 'UNM',
 'UNP',
 'URI',
 'USAK',
 'USAT',
 'USG',
 'USNA',
 'UVV',
 'VALU',
 'VHI',
 'VMI',
 'VMW',
 'VSAT',
 'VSI',
 'VSLR',
 'VTL',
 'VVC',
 'WAC',
 'WBC',
 'WCC',
 'WDAY',
 'WDC',
 'WDR',
 'WEC',
 'WEX',
 'WFM',
 'WGL',
 'WHR',
 'WING',
 'WLL',
 'WM',
 'WMB',
 'WMK',
 'WMT',
 'WOOF',
 'WOR',
 'WPX',
 'WRB',
 'WRK',
 'WSM',
 'WTW',
 'WWAV',
 'WYNN',
 'XOM',
 'XONE',
 'XPO',
 'XRX',
 'YHOO',
 'YRCW',
 'YUM',
 'ZAGG',
 'ZAYO',
 'ZFGN',
 'ZGNX',
 'ZNGA',
 'ZOES',
 'ZTS']

In [15]:
temp =pd.read_csv('/Users/sn0wfree/Documents/python_projects/data_collection/API/Google_trend/data/all/A.csv').set_index('Day').T
temp

Day          A
2004-01-01   3
2004-01-02  62
2004-01-03  53
2004-01-04  54
2004-01-05  65
2004-01-06  78
2004-01-07  88
2004-01-08  76
2004-01-09  73
2004-01-10  48
2004-01-11  56
2004-01-12  86
2004-01-13  79
2004-01-14  85
2004-01-15  95
2004-01-16  73
2004-01-17  69
2004-01-18  67
2004-01-19  78
2004-01-20  89
2004-01-21  85
2004-01-22  73
2004-01-23  78
2004-01-24  58
2004-01-25  68
2004-01-26  79
2004-01-27  85
2004-01-28  76
2004-01-29  87
2004-01-30  77
...         ..
2017-06-01  94
2017-06-02  84
2017-06-03  65
2017-06-04  64
2017-06-05  90
2017-06-06  96
2017-06-07  92
2017-06-08  91
2017-06-09  86
2017-06-10  67
2017-06-11  65
2017-06-12  90
2017-06-13  91
2017-06-14  92
2017-06-15  87
2017-06-16  85
2017-06-17  66
2017-06-18  62
2017-06-19  90
2017-06-20  95
2017-06-21  93
2017-06-22  93
2017-06-23  87
2017-06-24  67
2017-06-25  65
2017-06-26  95
2017-06-27  96
2017-06-28  94
2017-06-29  91
2017-06-30  86

[4930 rows x 1 columns]

In [21]:
dataForall ='/Users/sn0wfree/Documents/python_projects/data_collection/API/Google_trend/data/all/'
list_all_csv =[dataForall+file_name for file_name in os.listdir(dataForall) if '.csv' in file_name]

In [23]:
#[ for cvsfile in list_all]

#csvpath ='/Users/sn0wfree/Documents/python_projects/data_collection/API/Google_trend/data/all/A.csv'
def readcsv(csvpath):
    return pd.read_csv(csvpath).set_index('Day').T

def ReadMultiCsvFile(list_all):
    pool =mp.Pool()
    all_data_list =pool.map(readcsv,list_all)
    pool.close()
    pool.join()
    return all_data_list

In [ ]:
test =pd.concat(ReadMultiCsvFile(list_all_csv),axis=1)